:javascript
  function compare_and_search(){
    var new_value = $("#evaluation_search").val();
    if(new_value != original_value){
      original_value = new_value;
      $.ajax('#{group_evaluations_url(@group)}',
        { 
          type: "GET", 
          data: { q: new_value }, 
          success: function(data, responseText){ 
            $(".evaluations").html(data);
          } 
        }
      );
    }
  }
  
  $(function(){
    original_value = $("#evaluation_search").val();
    setInterval("compare_and_search();", 300);
  });

.employer-container
  .employer-box
    .header
      = image_tag STONEY_SMALL_URL, style:"", alt: "Stoney"
      %h2 Evaluations
      %input{ type: "text", placeholder: "Search Evaluations...", id: "evaluation_search" }
    .body
      .evaluations
        - if @evaluations.empty?
          %p 
            You don't have any open evaluations. 
            = link_to "Create one now.", new_group_evaluation_path(@group)
        - else
          = render "table"
              