:css
  .aboutcontainer{ border-radius: 0px; margin-top: 35px; background-color: rgba(36, 72, 109, 0.8); }

= render "evaluations/form", { form_title: "New Evaluation", form_url: group_evaluations_url(@group), form_method: "post" }