:css
  div.posttext.leveltext.dropdown:hover ul.dropdown-menu{display: block;}
  a.menu:after, .dropdown-toggle:after {content: none;}
  .CRarea .details h4 a:hover { color: rgb(50, 187, 255); }
  .vote_points { font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px; }
  .post_caption { margin-top:12px; font-family: 'MuliItalic'; border-bottom: 1px solid #ccc; padding-bottom:5px; margin-bottom:-4px; }
  .retract_link { padding: 0; color: inherit; text-shadow: none; padding-left: 8px; margin-left: -8px; margin-bottom: 2px; }
  .task_post { position: relative; font-size: 12px; min-height: 250px; max-height: 300px; overflow-x: hidden; overflow-y: hidden; }
  .task_post .content { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: 1; font-size: 20px; }
  .task_post .details { padding: 5px 2px; height: 50px; width: 100%; position: absolute; bottom: 0px; left: 0px; z-index: 1000; background-color: rgb(29, 29, 29); }

- if feed.posts.empty?
  %div.post.empty_post{ style: "height: 5px;"}
    %p There are no responses yet.
- else
  :javascript
    $(".youtube_answer").each(function(){ set_large_youtube_preview($(this).attr("alt"), $(this).attr("id")); });
    
    init_voting();
    init_comments();
    init_iph();
    convert_links();
    
    $(".retract_link").unbind("ajax:success").on("ajax:success", function(xhr, data){
      $(this).parents(".post").hide("slow");
    });

  = render partial: "newsfeed/post", collection: feed.posts, locals: { feed: feed }
  
  - if feed.url
    :javascript
      $(".view_more").unbind("ajax:success").on("ajax:success", function(xhr, data){ $(this).parent().replaceWith(data); });
    %div.post{ style: "text-align: center; margin: auto;" }
      = link_to "View More", "#{feed.url}", class: "button button-standard view_more", style: "text-align: center; margin: auto;", remote: true