- if feed.posts.empty?
  %div.post.empty_post{ style: "height: 5px;"}
    %p There are no responses yet.
- else
  :javascript
    $(function(){
      $(".youtube_answer").each(function(){ set_large_youtube_preview($(this).attr("alt"), $(this).attr("id")); });
    
      init_voting();
      init_comments();
      init_iph();
      convert_links();
    
      $(".retract_link").unbind("ajax:success").on("ajax:success", function(xhr, data){
        $(this).parents(".post").hide("slow");
      });
    
      $('#cr_pop').mouseenter(function() {
        $('#sliderbar1').slideDown(250);
      });
      $('#cr_pop').mouseleave(function() {        
        $('#sliderbar1').slideUp(250);        
      });
      
      $('#cr_pop').mouseenter(function() {
        $('#sliderbar2').slideDown(250);
      });
      $('#cr_pop').mouseleave(function() {        
        $('#sliderbar2').slideUp(250);        
      });
    
      $(".reload").click(function(){ $(this).parent().find("iframe").attr("src", $(this).parent().find("iframe").attr("src")); });
    
      $('iframe').load(function() {
        this.style.height = this.contentWindow.document.body.offsetHeight + 'px';
      });
    });

  - feed.posts.each do |post|
    = render "newsfeed/post", { post: post, feed: feed }
  
  - if feed.url
    :javascript
      $(".view_more").unbind("ajax:success").on("ajax:success", function(xhr, data){ $(this).parent().replaceWith(data); });
    %div.post{ style: "text-align: center; margin: auto;" }
      = link_to "View More", "#{feed.url}", class: "button button-standard view_more", style: "text-align: center; margin: auto;", remote: true