<div>
  <h3>Enrolled Users</h3>
  <% if users.empty? %>
  <p>Be the first to enroll in this path!</p>
  <% else %>
    <ul class="media-grid">
    <% users.each do |u| %>
     <li>
        <a href="<%= user_path(u) %>">
          <img class="thumbnail" src="<%= u.profile_pic %>" height="50" width="50" title="<%= u.name %>">
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>