<div id="section_settings_modal_<%= section.id %>" class="modal hide fade" style="top: 40%;">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Section Settings</h3>
  </div>
  <div class="modal-body">
    <%= render "sections/edit_settings", { :section => section } %>
  </div>
</div>