<div id="settings_modal" class="modal hide fade" style="top: 40%; width: 600px;">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3><%= name_for_paths %> Settings</h3>
  </div>
  <div class="modal-body">
    <%= render "settings", { :path => path, :categories => categories } %>
  </div>
</div>