<div>
  <h3>Unlockable Achievements</h3>
  <ul class="media-grid">
    <% achievements.each do |a| %>
      <li>
        <a href="<%= achievement_path(a) %>">
          <img class="thumbnail" src="<%= a.pic %>" height="50" width="50" title="<%= a.name %>">
        </a>
      </li>
    <% end %>
    </ul>
</div>