<div style="margin: 0 20px 20px 20px; padding:10px; font-size:18px; background-color: #0069D6; color:white; border-radius: 5px; display:none;">
  <span style="float:right; padding:0px 3px 1px 3px; border:1px solid white; cursor: pointer; border-radius:3px;" onclick="$(this).parent().fadeOut();">x</span>
  <h3 style="color:white; font-size:20px;margin-bottom: 10px">How does voting work?</h3>
  <p style="color:white; font-size:17px;">We don't really know yet, to be honest. But we're really working pretty hard to figure it out. Vote anyway, if you wouldn't mind, please.</p>
</div>