<section id="dashboard">
  <%= link_to "Back to Editor", edit_path_path(@path), :class => "btn primary", :style => "float:right;" %>
  <h1>Dashboard</h1>
  <hr/>
  <%= render "dashboard_statistics" %>
  <hr/>
  <%= render "dashboard_unresolved_tasks" %>
</section>
        