<script src="/javascripts/research.js"></script>
<script>
$(function(){
  add_editing_tools();
  $("a[href*='/']").click(function(){
    var leave = confirm("Are you sure you want to leave this page before saving? All changes will be lost."); 
    if(!leave){
      return false;
    }
  });
});
</script>
<script>
function add_divide_events(obj){
  if(obj){
    $(obj).unbind("click").click(function(){
      console.log("Coloring");
      $(this).css("background-color", "#CCFFFF");
    });
  } else {
    $("span,p,h2,h3,ol,ul,dl,div.thumb,div.rellink,blockquote").each(function(){
      $(this).unbind("click").click(function(){
        console.log("Coloring");
        $(this).css("background-color", "#CCFFFF");
      });
    });
  }
}

$(function(){
  var topic = "Steve Jobs";
  add_empty_articles([topic]);
  search_wikipedia(topic);
  add_divide_events();
});
</script>
<section id="doc_root">
  <section id="articles"></section>
</section>