<section>
	<section>
		<div style="float:right;">
			<%= link_to "Path Marketplace", marketplace_path, :class => "btn primary" %>
		</div>
		<div>
			<h1>All Paths</h1>
		</div>
	</section>
	<section>
		<% unless @paths.empty? %>
		<table class="paths">
			<%= render @paths %>
		</table>
		<%= will_paginate @paths %>
		<% end %>
		<%= link_to "Create new Path", new_path_path %>
	</section>
</section>