<section>
	<section>
		<div style="float:right;">
			<%= link_to "New Path", new_path_path, :class => "btn primary" %>
			<%= link_to "Path Marketplace", marketplace_path, :class => "btn secondary" %>
		</div>
		<div>
			<h1>All Paths</h1>
		</div>
	</section>
	<section>
		<table class="paths">
			<%= render @paths %>
		</table>
	</section>
	<h2>Unpublished Paths</h2>
	<% if @unpublished_paths.empty? %>
		<p style="margin: 30px 0 30px 0">You have no unpublished Paths.</p>
	<% else %>
		<p style="margin: 20px 0 30px 0">These Paths are only seen by the administrators of your account.</p>
		<section>
			<table class="paths">
				<%= render @unpublished_paths %>
			</table>
		</section>
	<% end %>
</section>