<h1>Purchase successful. Enjoy!</h1>
<section class="path">
	<h2><%= @path.name %></h2>
	<p><%= @path.description %></p>
	<p>$15.00</p>
	<p><%= image_tag(@path.path_pic) %></p>
</section>
<%= link_to "Continue Shopping", paths_path%>
