.employer-container
  .employer-box
    .header
      = image_tag GIANT_STONEY, style:"height: 61px;", alt: "Stoney"
      %h2 Customize Challenge CSS
    .body
      :css
        form .control-group label.control-label { width: 160px; }
      = render "custom_styles/form", { custom_style: @path_custom_style, link: style_path_path(@path.permalink), back: edit_path_path(@path.permalink) }