<li>
	<span class="info-resource-description">
		<%= link_to info_resource.description, info_resource %>
	</span></br>
	<span class="info-resource-link">
		<a href="<%= info_resource.link %>">Visit link</a>
	</span>
</li>