#employer.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Reset Password
    %hr{ style: "margin:0"}
    .aboutbody
      = form_for(User.new, url: send_reset_path) do |f|
        %h4{ style: "margin-bottom: 10px; line-height: 18px;" }
          Enter in the email for the account you need reset and we'll send you a reset link right away!
        %div.control-group
          %label.control-label Email
          %div.controls
            = f.text_field :email, autofocus: true
        %div.control-group
          %div.controls
            = f.submit "Reset", class: "submit_button", style: "float: none; margin-left:3px;"