.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Reset Password
    %hr{ style: "margin:0"}
    .aboutbody
      %p Email sent to #{@email}. Follow the link in the email to reset your password.