#styles_editor{ style: "padding: 20px;" }
  = form_for(custom_style, url: link) do |f|
    %p
      Edit the styles below. Note that you must save before these styles will take effect. 
      Set the status to "Preview" if you want to see how the styles will look. In "Preview" mode, you will be the only person who's able to view the style changes.
    .control-group
      %label.control-label Status
      .controls
        %select#custom_style_mode{ name: "custom_style[mode]" }
          %option{ value: CustomStyle::OFF, selected: ('selected' if custom_style.off?) } Off
          %option{ value: CustomStyle::PREVIEW, selected: ('selected' if custom_style.preview?) } Preview
          %option{ value: CustomStyle::ON, selected: ('selected' if custom_style.on?) } On
    %div.field.clearfix
      = f.text_area :styles, rows: "15", placeholder: "Add CSS styles here...", style: "margin:10px 0; width: 860px; min-height: 200px;"
    %div#editor.ace_editor{ style: "margin:10px 0; width: 860px; min-height: 350px;" }
    %div.actions
      = link_to "Back", back, class: "submit_button_standard", style: "float: none; display: inline-block;"
      = f.submit "Save", class: "submit_button", style: "margin-left: 10px;"
      .clear_floats

- unless Rails.env == "test"
  :css
    .ace_scroller, .ace_gutter { padding-top: 3px; }

  :javascript
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");    
    editor.getSession().setUseSoftTabs(true);
    editor.getSession().setTabSize(2);
    var $textarea = $("#custom_style_styles").hide()
    editor.getSession().setValue($textarea.val());
    editor.getSession().on('change', function(){
      $textarea.val(editor.getSession().getValue());
    });