- user = User.cached_find_by_id(comment.user_id)
%li
  %div{ style: "float:left;" }
    :javascript
      $(".comment_delete").on("ajax:success", function(){ $(this).parents("li").slideUp(); });
    %a{ href: profile_path(user.username) }
      %img.commentphoto{ src: user.picture, onerror: "user_img_error(this);" }
  %div{ style: "overflow:hidden; margin: 0 0 0 43px;" }
    %pre.unstyled.text_content{ style: "font-size: 13px; color: black; margin-left: 0; margin-bottom: 0;" }= comment.content
    %p{ style: "margin-left: 0;" } 
      %a{ href: profile_path(user.username) }= user.name
      about #{time_ago_in_words(comment.created_at)} ago.
      - if current_user and user.id == current_user.id
        = link_to "Remove.", comment, class: 'comment_delete', :method => :delete, remote: true
      
