:css
  .container.body { width: 1050px; }

%div
  %ul.nav.nav-tabs
    - admin_tabs.each do |header|
      - if (@mode || params[:action]) == header[0]
        %li.active
          %a= header[1]
      - else
        %li
          = link_to header[1], header[2]
= render "admin/admin_js"