%div.single_pane
  %h3{ style: "border-bottom: 1px solid #DDD; margin-bottom: 20px; padding: 10px 0;" }= @visit.request_url
  %table.table
    - @visit.attributes.each do |name, value|
      %tr
        %td= name
        %td= value
  
