<li>
	<span>
		<%= link_to reward.name, reward %>
	</span></br>
	<span>
		<%= reward.description %>
	</span></br>
	<span>
		<%= reward.points %>
	</span></br>
	<span>
		<%= reward.image_url %>
	</span>
</li>