.header
  .title
    = image_tag STONEY_SMALL_URL, style: "height: 100px; display: inline; vertical-align: middle", alt: "Stoney"
    %span{ style: "font-size: 40px; position: relative;top:13px;" } #{@group.name} Account