
.employer-container{ style: "width: 1040px;"}
  .employer-box
    .header
      = image_tag GIANT_STONEY, style:"display:inline; height:61px;", alt: "Stoney"
      %h2 Customize your CSS
    %hr{style:"margin:0;"}
    = render "custom_styles/form", { custom_style: @group_custom_style, link: style_group_path(@group.permalink), back: edit_group_path(@group.permalink) }