<div id="username_modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Welcome to <span style="color:green"><%= company_logo %>!</span></h3>
  </div>
  <div class="modal-body">
    <p style="font-size: 16px; padding:0 7px 5px 10px;"><strong style="color:green"><%= company_logo %></strong> lets you prove your knowledge for the stuff you like. Show off your smarts and connect with other fans.</p>
    <p style="font-size: 16px; padding:0 7px 5px 10px; font-weight:bold;">Are you up to the Challenge? Make a name for yourself and see build up your rank.</p>
    <p class="form_errors" style="color:red; padding:0 7px 0px 10px;"></p>
    <div style="margin:20px 0 20px 150px;">
      <%= link_to image_tag("/images/facebook_login_button.png", :size => "220x55"), "/auth/facebook", :id => "facebook_signin" %>
      <%= link_to image_tag("/images/google_login_button.png", :size => "220x45"), "/auth/google_oauth2", :id => "google_signin" %>
    </div>
    <div style="float:left; padding:0 0 10px 10px;">
      <a id="auth_signin_explanation_link" onclick="$('#auth_signin_explanation').slideDown();">Why use Google or Facebook login?</a>
      <div id="auth_signin_explanation" style="display:none; margin-top: 10px;">
        <p>When you use a third party login service like Google or Facebook, we can keep the bare minimum information we need to create an account for you. We don't need to store any passwords or other identifiable information.</p>
        <p>That way if your Metabright account is ever compromised, there's no stored password that hackers can take to access other services that you use.</p>
        <p style="font-weight:bold;">Long story short, its a lot more secure.</p>
      </div>
    </div>
  </div>
</div>