<h1>Usage Reports for <%= company_logo %></h1>
<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>File Size</th>
  </tr>
<% @reports.each do |ur| %>
  <tr>
    <td><%= ur.created_at %></td>
    <td><%= link_to ur.name, ur.report.url %></td>
    <td><%= ur.report_file_size %></td>
  </tr>
<% end %>
</table>