- custom_class = "" unless custom_class
%li
  %div.mosaic-block.bar2
    = link_to link, class: "mosaic-overlay #{custom_class}" do
      %div.details
        %h4= title
        %h5= subtitle
    %div
      %img.mosaic-backdrop{ src: pic }