- custom_class = "" unless custom_class
%li
  %div.mosaic-block.bar2
    = link_to link, class: "mosaic-overlay #{custom_class}" do
      %div.details
        %h4{ style: "margin-bottom: 0px;" }= title
        %h5{ style: "margin-left: 10px; color: white; font-size: 12px;" }= subtitle
    %div
      %img.mosaic-backdrop{ src: pic }