- title ||= "Challenge yourself on MetaBright!"
- url ||= request.url
%div.social_toolbar{ style: custom_style }
  = link_to "http://www.reddit.com/submit", onclick: "window.location = 'http://www.reddit.com/submit?url=#{url}'; return false", target: "_blank" do             
    = image_tag SHARE_REDDIT, alt:"Share on Reddit", border:"0", style: "margin-right: 4px; "
  %a{ onclick: sharing_popup_javascript(:facebook, url) }
    %img{ src: SHARE_FACEBOOK, alt: "Share on Facebook" }
  %a{ onclick: sharing_popup_javascript(:twitter, url, title) }
    %img{ src: SHARE_TWITTER, alt: "Share on Twitter" }
  %a{ onclick: sharing_popup_javascript(:google_plus, url, title) }
    %img{ src: SHARE_GOOGLE, alt: "Share on Google+" }
