- user = @user || current_user
- parent_region = params[:parent_region] || user.country
- country = Carmen::Country.coded(parent_region.to_s)
- if country.nil?
  = select_tag "user[state]", "<option>Please select a country</option>"
- elsif country.subregions?
  - if form
    = form.subregion_select :state, parent_region
  - else
    = subregion_select(:user, :state, parent_region)
- else
  = text_field(:user, :state_code)