<div id="correct_modal" class="modal hide fade">
	<div class="modal-body">
		<p style="font-size: 30px; padding: 20px; font-weight: bold; color:#57A957; margin-left: 75px;">Correct!</strong></p>
	</div>
</div>
<script>
$('#correct_modal').modal({
	keyboard: true,
	backdrop: 'static',
	show: true
});

setTimeout(function(){
	$('#correct_modal').modal('hide');
}, 1500);
</script>