<script>
$(function(){
  //$('.section_questions_container form').submit(block_form_submit);
  $('.section_questions_container form').on('ajax:success', add_new_task);
  $('.delete_button').each(function(){
    bind_delete_task(this);
  });
  $('.edit_button').each(function(){
    $(this).click(function(){
      $(this).attr("disabled","disabled");
    });
    bind_edit_task(this);
  });
  $(".correct_answer").change(function(){
    bind_answer_suggestion(this);
  });
  $('.task_list td').hover(
    function(){
      $(this).find('.edit_task_buttons').show();
      $(this).css("background-color", "whitesmoke");
    },
    function(){
      $(this).find('.edit_task_buttons').hide();
      $(this).css("background-color", "white");
    }
  );
});
</script>
<%= render "tasks/new_task_form", { :task => task, :display => display_new_task_form, :section => section } %>

<table class="task_list">
<% tasks.each do |task| %>
  <tr>
    <td class="task">
      <%= render "tasks/task", { :task => task } %>
    </td>
  </tr>
<% end %>
</table>