<div class="span6">
  <div class="task-comments">
    <% unless comments.empty? %>
    <ul style="list-style-type: none; margin: 0px; padding: 10px; margin-top: -60px;">
    <% comments.each do |comment| %>
      <li style="line-height: 1;"><strong><%= comment.user.name %>:</strong> <%= comment.content %></li>
    <% end %>
    </ul>
    <% else %>
      <em style="padding: 15px;">There are no comments for this task</em>
    <% end %>
  <input type="hidden" name="comment[task_id]" value="<%= task.id %>">
  <textarea name="comment[content]" rows="3" class="xlarge"></textarea>
  <%= submit_tag "Post Comment", :class => "btn primary", :style=>"margin-top: 10px;" %>
</div>