<% points_awarded_by = @path.enable_voting ? "*Points awarded by number of votes" : "Points awarded by Administrator" %>
<div class="field clearfix">
  <% if task.answer_sub_type == 100 %>
  <script>
  $(function(){
    $('#challenge_form').submit(function(){
      $(".loading_image").show();
      $("#submit_button").attr("disabled","disabled");
    });
  });
  </script>
  <div class="input" style="margin-top:10px;">
    <textarea name="answer" id="answer_input" rows="3" style="width: 350px;" placeholder="Enter answer here..." autofocus="autofocus"></textarea>
    <p style="font-style:italic;"><%= points_awarded_by %></p>
  </div>
  <% elsif task.answer_sub_type == 101 %>
   <script>
    $(function(){
      check_image_before_submit();
    
      $("#answer_preview_button").click(function(){
        var url = $("#answer_input").val();
        is_valid_image(url, function(valid){
          if(valid == true){
            $("#image_placeholder").attr("src", url);
          } else {
            alert("Please provide a link to a valid image.");
          }
        });
        
      });
    });
  </script>
  <div class="input">
    <input type="text" id="answer_input" name="answer" style="width: 250px;" placeholder="Copy & paste link to image URL here..." autofocus="autofocus"><a id="answer_preview_button" class="btn secondary clickable_link" style="margin-left: 10px;">Preview</a>
    <p style="font-style:italic;">*Points awarded by votes</p>
    <div id="answer_preview_container" style="width:250px; padding: 10px; margin: 20px 0 0 0; border: 1px solid lightgray;">
      <div id="answer_preview" >
        <%= image_tag "/images/image_thumb.png", :style => "width: 250px;", :id => "image_placeholder" %>
      </div>
    </div>
  </div>
  <% else %>
  <script>
    $(function(){
      check_youtube_before_submit();
    
      $("#answer_preview_button").click(function(){
        var url = $("#answer_input").val();
        console.log(url);
        var youtube_id = get_youtube_id_from_link(url);
        console.log(youtube_id);
        if(is_valid_youtube_id(youtube_id)){
          $("#youtube_placeholder").remove();
          set_youtube_preview(url, "answer_preview");
        } else {
          alert("Please provide a link to a valid Youtube video.");
        }
      });
    });
  </script>
  <div class="input">
    <input type="text" id="answer_input" name="answer" style="width: 250px;" placeholder="Copy & paste link to youtube video here..." autofocus="autofocus"><a class="btn secondary clickable_link" style="margin-left: 10px;" id="answer_preview_button">Preview</a>
    <p style="font-style:italic;">*Points awarded by votes</p>
    <div id="answer_preview_container" style="width: 480px; height:295px; padding: 10px; margin: 20px 0 0 0; border: 1px solid lightgray;">
      <div id="answer_preview" >
        <%= image_tag "/images/youtube_thumb.jpg", :size => "480x295", :id => "youtube_placeholder" %>
      </div>
    </div>
  </div>
  <% end %>
</div>