<div class="field clearfix">
  <% if task.answer_sub_type == 100 %>
  <div class="input">
    <textarea name="answer" rows="3" style="width: 350px;"></textarea>
    <p>Free style that shit.</p>
  </div>
  <% elsif task.answer_sub_type == 101 %>
  <div class="input">
    <input type="text" name="answer" rows="3" style="width: 350px;"></textarea>
    <p>Provide a link to an image</p>
  </div>
  <% else %>
  <div class="input">
    <input type="text" name="answer" rows="3" style="width: 350px;"></textarea>
    <p>Provide a link to a Youtube video</p>
  </div>
  <% end %>
</div>