<div class="field clearfix">
	<label>Answer:</label>
	<div class="input">
		<ul class="inputs-list">
			<li>
				<% unless task.answer1.blank? %>
				<label>
					<input id="completed_task_answer1" name="completed_task[answer]" type="radio" value="1">
					<span><%= task.answer1 %></span>
				</label>
				<% end %>
				<% unless task.answer2.blank? %>
				<label>
					<input id="completed_task_answer2" name="completed_task[answer]" type="radio" value="2">
					<span><%= task.answer2 %></span>
				</label>
				<% end %>
				<% unless task.answer3.blank? %>
				<label>
					<input id="completed_task_answer3" name="completed_task[answer]" type="radio" value="3">
					<span><%= task.answer3 %></span>
				</label>
				<% end %>
				<% unless task.answer4.blank? %>
				<label>
					<input id="completed_task_answer4" name="completed_task[answer]" type="radio" value="4">
					<span><%= task.answer4 %></span>
				</label>
				<% end %>
			</li>
		</ul>
	</div>
</div>