<div style="padding: 10px;">
  <a id="prev" onclick="goPrevious()" class="btn secondary">Previous</a>
  <a id="next" onclick="goNext()" class="btn primary">Next</a>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>

<div>
  <canvas id="the-canvas" style="border:1px solid black"></canvas>
</div>

<!-- Use latest PDF.js build from Github -->
<script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>

<script type="text/javascript">
  //
  // NOTE: 
  // Modifying the URL below to another server will likely *NOT* work. Because of browser
  // security restrictions, we have to use a file server with special headers
  // (CORS) - most servers don't support cross-origin browser requests.
  //
  var url = '<%= file_path %>';

  //
  // Disable workers to avoid yet another cross-origin issue (workers need the URL of
  // the script to be loaded, and currently do not allow cross-origin scripts)
  //
  PDFJS.disableWorker = true;

  var pdfDoc = null,
      pageNum = 1,
      scale = 1.5,
      canvas = document.getElementById('the-canvas'),
      ctx = canvas.getContext('2d');

  //
  // Get page info from document, resize canvas accordingly, and render page
  //
  function renderPage(num) {
    var page = pdfDoc.getPage(num);
    canvas.height = page.height * scale;
    canvas.width = page.width * scale;
    page.startRendering(ctx);

    // Update page counters
    document.getElementById('page_num').textContent = pageNum;
    document.getElementById('page_count').textContent = pdfDoc.numPages;
  }

  //
  // Go to previous page
  //
  function goPrevious() {
    if (pageNum <= 1)
      return;
    pageNum--;
    renderPage(pageNum);
  }

  //
  // Go to next page
  //
  function goNext() {
    if (pageNum >= pdfDoc.numPages)
      return;
    pageNum++;
    renderPage(pageNum);
  }

  //
  // Asynchronously download PDF as an ArrayBuffer
  //
  PDFJS.getPdf(url, function getPdfHelloWorld(data) {
    pdfDoc = new PDFJS.PDFDoc(data);
    renderPage(pageNum);
  });
</script>