<section class="progress-box" style="margin-bottom: 50px;">
  <div style="float:right; margin-top: 10px;">
    <span class="points total"><%= @earned_points %></span>
    <span class="points current">+<%= @possible_points %></span>
    <span class="points streak">+<%= @streak_points %></span>
    <span class="timer">00:30</span>
  </div>
  <div id="progressbar" style="float:right; margin-right: 10px;" alt="Progress Bar"></div>
  <div id="correct_status" style="float:right; margin-top:10px; margin-right: 10px; font-weight: bold;"></div>
</section>