<script>
function start_point_countdown(){
	start_counter = 0;
	progress = 100;
	$progress_bar = $("#raw_number_progressbar");
	countdown = setInterval(function(){
		start_counter ++;
		if(start_counter > 30){
			if(progress == 0){
				$("#raw_number_container").animate({opacity: 0.2}, 250);
				$("#listless").val(false);
			}
			$progress_bar.progressbar({ value: progress });
			progress --;
		}
	}, 150);
}

$(function(){
	<% if @streak_points > 0 %>
	start_point_countdown();
	<% end %>
	$("#raw_number_progressbar").progressbar({ value: 100 });
});

</script>
<style>
	#game_container { margin-top: 75px; width:230px; }
	#raw_number_container { border: 5px solid #57A957; width:230px; border-radius: 5px;}
	#raw_number { font-size: 120px; color: #57A957;  padding: 10px; }
	#raw_number_progressbar { width: 240px; margin-top: 15px; border-radius: 5px;}
</style>
<div id="game_container" style="<%= @streak_points > 0 ? "" : "opacity:.2;" %>">
	<div style="font-size: 20px; color: grey; margin: auto; font-weight: bold; margin: 0px 0px 5px 30px;">STREAK BONUS</div>
	<div id="raw_number_container">
		<span id="raw_number">+<%= @streak_points %></span><span style="font-size:15px; font-weight: bold; color: #57A957;">Points</span>
	</div>
	<div id="raw_number_progressbar" alt="Progress Bar"></div>
</div>
