<script>
$(function(){
  $('#challenge_form').submit(function(){
    $(".loading_image").show();
    $("#submit_button").attr("disabled","disabled");
  });
});
</script>

<div class="field clearfix">
  <label style="margin-top:0px;">Answer:</label>
  <div class="input">
    <input id="answer1" name="answer" type="text" class="xlarge" autofocus="autofocus">
  </div>
</div>