<h2><%= @section.name %></h2>
<p>Choose a question to answer</p>
<ol>
<% @tasks.each do |task| %>
  <% if @completed_tasks.include?(task.id) %>
  <li class="alert-message block-message success" style="width:400px;"><%= task.question %></li>
  <% else %>
  <li class="alert-message block-message" style="width:600px; background-color: whitesmoke; line-height: 20px;"><%= link_to task.question, take_section_path(@section, task_id: task.id) %></li>
  <% end %>
<% end %>
</ol>
