:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }

%div.quizcontainer{style:"width:641px; margin-top:110px;"}
  %div.quizspace
    %div.quizheader{style:"margin-bottom:9px;"}
      = image_tag  @task.path.picture, style: "height:50px; width:50px;"
      %div{style: "display:inline-block;"}
        %span
          %strong #{@task.path.name}:        
          = @task.section.name
    %div.completionmessagespace{style:"border-right:none; width:auto;"}
      %div.completionheader{style:"margin-bottom:4px;"}
        %span Nice work on that Creative Response!
      %div.completionsubheader
        %span
          When you complete a CR, you earn
          %strong 100 points
      %div.completioncontent
        %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style: "width:20px; position:relative; bottom:5px; display:inline;"}
          %h4 A little bit about Creative Response questions...
          %ul
            %li
              %strong Showcase your knowledge:
              Completed CR's are displayed on your profile.
            %li
              %strong Earn points:
              When your answers get votes, you earn more points.
            %li
              %strong Track your growth:
              Use them to guide your development through a Challenge.
    = link_to "Continue", challenge_path(@task.path.permalink, completed:true, type:0), class:"btn btn-info", style: "float:right; margin-right:12px;"
