<%= render "tab_navigation" %>

<section class="tab_content">
	
	<%= render "tasks/new_task_form", { :task => @task, :display => @display_new_task_form } %>
	
	<script src="/javascripts/editor.js"></script>
	
	<table id="task_list">
	<% @tasks.each do |task| %>
		<tr class="task">
			<td width="100%">
        <%= render "tasks/task", { :task => task } %>
			</td>
		</tr>
	<% end %>
	</table>
</section>