<script>
$(function(){
	$('#new_task').submit(block_form_submit);
	$('#new_task').on('ajax:success', add_new_task);
  $('.delete_button').each(function(){
    bind_delete_task(this);
  });
  $('.edit_button').each(function(){
    bind_edit_task(this);
		$(this).click(function(){
			$(this).attr("disabled","disabled");
		});
  });
	$(".correct_answer").change(function(){
		bind_answer_suggestion(this);
	});
});
</script>

<%= render "tab_navigation" %>

<section class="tab_content">
	
	<%= render "tasks/new_task_form", { :task => @task, :display => @display_new_task_form } %>
	
	<table id="task_list">
	<% @tasks.each do |task| %>
		<tr class="task">
			<td width="100%">
        <%= render "tasks/task", { :task => task } %>
			</td>
		</tr>
	<% end %>
	</table>
</section>