:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
  .quizcontainer { width: 650px; margin-top: 50px;}
%div.quizcontainer
  %div.quizspace
    %div
      = image_tag GIANT_STONEY, style: "width:46px; height:55px; margin:0; display: inline-block; vertical-align: top;", alt: "Stoney"
      %div{ style: "display: inline-block; margin-left: 8px; font-size:35px; line-height:56px; "}
        We just need a few details...
      .professional_mb_form{ style: "margin-top:15px;"}
        .body
          %h4 
            What opportunities might interest you?
          %label.checkbox
            %input{ type: "checkbox", value: "" } Full time job
          %label.checkbox
            %input{ type: "checkbox", value: "" } Part time job or freelancing
          %label.checkbox
            %input{ type: "checkbox", value: "" } Internship
          %label.checkbox
            %input{ type: "checkbox", value: "" } College admissions
          %h4
            What's your location?
          %div
            %label Country
            %select
              %option United States
              %option Canada
              %option Iraq
          %div
            %label State/Province
            %select
              %option California
              %option Canada
              %option Iraq
          %div
            %label City
            %input{ type:"text", class:"input-medium", placeholder:"City" }
          %div
            %label Zip Code
            %input{ type:"text", class:"input-small", placeholder:"Zip" }
        %div{ style: "margin: 12px 0 0 0; padding: 0 3px;"}
          = link_to "Submit", "#", class: "button button-actionable", style: "float: right;"
          = link_to "Back", "#", class: "button button-standard", style: "float: right; margin-right: 15px;"
          
          
        