:css
  .quizcontainer { width: 478px !important; margin-top:10px; }
  .intro_wrapper .intro .header { padding: 0px 0 5px 9px; }
  .intro_wrapper .intro .header h1 { font-size: 25px; position: relative; top: 3px; }
  .intro_wrapper .intro .body h3 { font-size: 15px; }
  .intro_wrapper .intro .body p { font-size: 13px; }
  .intro_wrapper .intro .body ul li { line-height: 8px; }
  .intro_wrapper .intro .body ul li img { top: 8px; }
  .intro_wrapper .quizheader img { height: 35px !important; width: 35px !important; }
  .quizcontainer { border: none; margin-top: 0; }
  .quizspace { padding: 5px 12px 0 12px; }
  .quizheader { margin-bottom: 6px; }
  .quizheader span { font-size: 23px; position: relative; bottom: 0px;}
  .responsespace form { margin: 0 0 12px; }
  .CRquestion { font-size: 16px; }

.intro_wrapper
  :javascript
    $(function(){ $.MB.Arena.init(); });
  .intro
    .header
      = image_tag STONEY_MEDIUM_URL, style: "width:36px; height:41px; margin:4px 4px 0 0;", alt: "Stoney"
      %h1 Welcome to MetaBright!
    %hr{ style:"margin:0"}
    .body
      %ul
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_1_purple.png", alt: "One" }
          %h3 Prove yourself
          %p User MetaBright to show off and improve your skills. We could all use some practice!
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_2_purple.png", alt: "Two" }
          %h3 Take a variety of questions
          %p Different types of questions will test your knowledge in different ways.
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_3_purple.png", alt: "Three" }
          %h3 Try it out
          %p Do a practice question to get a feel for how it works!
      - @next_text = "Let's go!"
      - @next_link = start_section_path(@section.id, i: "c")
      - @start_countdown = false
      - @show_stats = false
      = render file: "sections/continue"