:css
  body.employer{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
  .quizcontainer { width: 692px; }
%div.quizcontainer
  %div.quizspace
    %div
      = image_tag GIANT_STONEY, style: "width:117px; height:162px; margin:0; display: inline-block; vertical-align: top;", alt: "Stoney"
      %div{ style: "display: inline-block; margin-left: 0; font-size:84px; line-height:95px; margin-top:-6px;"}
        Not bad...
        %div{ style: "font-size: 27px; margin-left: 0; line-height: 21px; " }
          But can you handle the <strong>Boss Question</strong>?
        %div      
          = link_to "I'm ready!",take_bonus_section_path(@section, params[:task_id], params[:session_id]), class: "submit_button", style: "line-height: 20px; margin-top: 18px;"
