%div{ style: "margin-top: 10px;" }
  :javascript
    $(function(){
      $('.fileupload').fileupload({
        url: '#{stored_resources_path}',
        dataType: 'json',
        done: function (e, data) {
          var result = data.result;
          var $parent = $(this).parent().parent();
          if(result.status == "success"){
            $(".original_image_preview").remove();
            $parent.find("input.image_input_field").val(result.id);
            $parent.find("div.image_input").remove();
            $parent.find("img.image_preview").attr("src", result.link).show();
          }
        },
        autoUpload: true,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
      });
      $("#fileupload").bind('fileuploadfail', function (e) {alert("File upload failed.")});
    });
  %div.image_input
    = image_tag "https://s3-us-west-1.amazonaws.com/moonlite/static/image.png", size: "16x16", style: "vertical-align: middle;"
    %span{ style: "vertical-align: middle; font-size: 13px;" } Add optional image:
    = file_field_tag("obj", class: "fileupload", style: "margin-left: 2px; line-height: inherit; height: inherit; vertical-align: middle; width: 175px;")
  %div{ style: "margin-top: 10px;" }
    = hidden_field_tag("stored_resource_id", nil, class: "image_input_field")
    %img.image_preview{ style: "height: 70px; max-width: 150px; display: none;" }
