<section class="suggested-paths">
  <h3><%= paths_title %></h3>
  <% if paths_list.empty? %>
  <p>Sorry, we don't have any recommended <%= name_for_paths.pluralize %> for you yet. Check back in later!</p>
  <% else %>
  <ul class="media-grid">
    <% paths_list.each_index do |p| %>
      <% if p >= 4 then break else path = paths_list[p] end %>
      <li><%= link_to image_tag(path.path_pic), path, :class => (path.is_locked ? "locked_challenge" : "") %>
    <% end %>
  </ul>
  <% end %>
</section>