<section>
  <h2>News</h2>
<% if user_events.empty? %>
  <p>No news yet today! <%= link_to "Go make some!", explore_path %></p>
<% else %>
<table>
  <% user_events.each do |uv| %>
  <tr>
    <td style="width: 65px; padding: 5px;"><%= image_tag uv.path.path_pic, :size => "60x60" %>
    </td>
    <td>
      <p><%= translate_user_event(uv).html_safe %></p>
    </td>
  </tr>	
  <% end %>
</table>
<% end %>
</section>