.aboutcontainer
  .aboutbox
    .aboutheader
      %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", alt: "Stoney"}
        %span Prove yourself.
    %hr{:style => "margin:0"}
      .aboutbody
        %h4 Our Philosophy
        %p
          At MetaBright, we believe in the transparency of knowledge.
        %p
          In a nutshell, this means you deserve to know what you know, and you deserve to know what other people know.
          We think this allows for more meaningful connections, faster growth, and can make your passions way more fun.
        %p
          Think about it: would you rather travel down a path all by yourself, uncertain of who you're taking advice from and the kind of progress you're making, or would you rather have proof of what you know, and have access to guidance from the most reputable people?
        %h4 Our Team
        %p
          %a{:href => "/jonathankirst"}> Jonathan Kirst
          \:
          %span Devout Ruby on Rails hacker and PHP refugee. Unapologetic fanatic of San Francisco food, beer and all things Pac-12. You can find him at Thieves in the Mission if you want to lose a debate about SEC vs. Pac-12 football.
        %p
          %a{:href => "/nathanielsokollward"}> Nathaniel Sokoll-Ward
          \:
          %span Ethical hustler, and all around good dude. Ex-Googler and former Master of the Universe, now spending time working on his guitar chops, and developing a more nomadic lifestyle.
        %h4 Still want more?
        %p
          Check out our
          = succeed "." do
            %a{href: "http://metabright.blogspot.com", target: "_blank"} blog