%div.quizcontainer
  %div.quizspace
    %div.quizheader
      = image_tag @section.path.path_pic, style: "height:50px; width:50px;"
        %div{style: "display:inline-block;"}
          %span
            %strong #{@section.path.name}:
            #{@section.name}
    %div.completionmessagespace
      %div.completionheader
        %span Nice work on that Creative Response!
      %div.completionsubheader
        %span
          When you complete a CR, you earn
          %strong 100 points
      %div.completioncontent
        %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style: "width:20px; position:relative; bottom:5px; display:inline;"}
          %h4 A little bit about Creative Response questions...
          %ul
            %li
              %strong Showcase your knowledge:
              Completed CR's are displayed on your profile.
            %li
              %strong Earn points:
              When your answers get votes, you earn more points.
            %li
              %strong Track your growth:
              Use them to guide your development through a Challenge.
    %a.button.button-info{href: "#", style: "float: right; margin-right:12px;"} Continue