:css
  .aboutcontainer{ width: 950px; }

#employer.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Turbocharge your hiring
    .body
      %div
        %h2
          Find Better Candidates
        %p{ style: "display: none;"}
          Tell us what skills your company needs and we'll connect you with MetaBright users who fit the bill. You'll be able to see just how talented each person is, along with examples of their work. Recruiting has never been easier. 
        %p Discover job seeking MetaBright users who have the <strong>proven skills</strong> your company needs.
        %a.button.button-actionable Learn More
      .divider
      %div{ style: "float: right; "}
        %h2
          Optimize Your Interviews
        %p{ style: "display: none;"}
          Never waste your time in an interview again. MetaBright measures and verfies the skills of your job candidates <strong>before</strong> you interview them. Just give your candidates a unique MetaBright URL, and we take care of the rest.
        %p MetaBright measures and verfies the skills of your job candidates <strong>before</strong> you interview them.
        %a.button.button-actionable Learn More
          
    