:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 950px; background: rgba(36, 72, 109, 0.8); }
  
<script src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js" type="text/javascript"></script>

#employer1.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Turbocharge your hiring
    .body
      %div
        %h2
          Optimize your interviews
        %p
          Never waste your time in an interview again. MetaBright's <strong>Evaluator</strong> measures and verfies the skills of your job candidates <span style="font-family: 'MuliItalic';">before</span> you interview them. Just give your candidates a unique MetaBright URL, and we take care of the rest. 
        %h3
          Our philosophy
        %p
          When evaluating a potential new-hire, we believe the most important thing is whether that person has the skills necessary to do the job. Things like where they went to school or where they previously worked are just distractions from what really matters: Can they perform?
        %h3 
          How it works
        %ol
          %li Identify the skills where you want your candidates evaluated.
          %li Include your unique MetaBright URL with your job posting. 
          %li MetaBright evaluates the skills of each candidate, and you decide who to interview.
        %h3 
          Evaluator Pricing
        %ul.pricing_table
          %li.price_block
            %h3 Basic
            .price
              .price_figure
                %span.price_number $10
                %span.price_tenure
            %ul.features
              %li 10 skill assessments
              %li Default Challenges
              %li Full admin panel
              %li Standard URL
              %li 24/7 Email support
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::EVAL_BASIC), class: "action_button"
          %li.price_block
            %h3 Intermediate
            .price
              .price_figure
                %span.price_number $49
                %span.price_tenure
            %ul.features
              %li 100 skill assessments
              %li Default Challenges
              %li Full admin panel
              %li Standard URL
              %li 24/7 Email support
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::EVAL_PRO), class: "action_button"
          %li.price_block
            %h3 Professional
            .price
              .price_figure
                %span.price_number $199
                %span.price_tenure
            %ul.features
              %li 500 skill assessments
              %li Customizable Challenges
              %li Full admin panel
              %li Customized URL
              %li 24/7 Email support
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::EVAL_ENT), class: "action_button"
          %li.price_block
            %h3 Enterprise
            .price
              .price_figure
                %span.price_number $299
                %span.price_tenure
            %ul.features
              %li 1,000 skill assessments
              %li Customizable Challenges
              %li Full admin panel
              %li Customized URL
              %li 24/7 Email support
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::EVAL_ULTRA), class: "action_button"