<style>
</style>

<section>
  <div><a><h1>Choose your path...</h1></a></div>
</section>
<hr/>
<section id="path_explore" style="padding-left: 20px;">
<% if @personas.empty? %>
  <p style="padding:30px 20px 300px 20px;">No <%= name_for_paths.pluralize %> have been listed for your organization yet. Please check with your administrator to see if your Moonlite instance has been properly configured.</p>
<% else %>
  <% @personas.each do |persona| %>
    <div style="margin:20px; display: inline-block;">
      <%= link_to persona do %>
        <%= image_tag persona.picture, class: "photo", style: "width: 175px; height: 175px;" %>
      <% end %>
    </div>
  <% end %>
<% end %>
</section>