<% if signed_in? %>
<script>
$(document).ready(function() {
	$(".progressbar").each(function(){
		var details = $(this).attr("alt").split("/");
		var completed = details[0];
		var total = details[1];
		if(total != 0){
			var pb_value = 100 * (completed/total);
			$(this).progressbar({ value: pb_value });
		}
	});
});
</script>
<h1>My Paths</h1>
	<% if @paths.empty? %>
		<p>You are not currently enrolled in any paths. <%= link_to "Get started!", all_paths_path %></p>
	<% else %>
	<table class="paths" summary="Users paths">
		<%= render @paths %>
	</table>
	<% end %>
<% else %>
<section style="float:left; margin-right: 100px;">
	<img src="/images/logo.png" width="200" height="200"/>
</section>
<section>
	<h1>Project Moonlite</h1>
	<h4>Know who knows what. And who doesn't.</h4>
	<br>
	<%= link_to "Learn more!", about_path, :class => "btn primary" %>
</section>
<% end %>