<% if signed_in? %>
<script>
$(document).ready(function() {
	$(".progressbar").each(function(){
		var details = $(this).attr("alt").split("/");
		var completed = details[0];
		var total = details[1];
		if(total != 0){
			var pb_value = 100 * (completed/total);
			$(this).progressbar({ value: pb_value });
		}
	});
});
</script>
<h1>My Paths</h1>
<table class='profile' summary='Profile Information'>
	<tr>
		<td class='Main'>
			<% if @paths.empty? %>
				<p>You are not currently enrolled in any paths. <%= link_to "Get started!", all_paths_path %></p>
			<% else %>
			<table class="paths" summary="Users paths">
				<%= render @paths %>
			</table>
			<% end %>
		</td>
	</tr>
</table>
<% else %>
	<h1>Project Moonlite</h1>
	<p>This is the home page for the Project Moonlite.</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>