%div.container.body
  %div#ideapage
    %div.ideaheader
      %div{style:"bottom:15px; position:relative;"}
        %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png"}
        %span MetaBright Labs
        %hr{style:"margin:0; position:relative; bottom:10px; "}
      %div{style:"margin-top:-12px;"}
        %h4 Help shape the MetaBright roadmap
        %p This is where we post some of our planned features and upgrades. Vote for what you think we should prioritize and post ideas for things we should work on next.
    %div.leftboxheader
      Suggest What's Next
    %div.ideacontainer
