.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
        %span Prove yourself.
    %hr{ style: "margin:0"}
    .aboutbody
      %h4 Come intern with us
      %p We don’t care about your resume.
      %p Seriously, we don’t. 
      %p And all those other internships you’re applying to, we don’t think they should care about your resume either.
      %p We believe you should be judged on the basis of what you can actually do. Not your GPA, not your major, not your work experience, not where you’re from or who your family is or isn’t. MetaBright is working to level the playing field for anyone who wants a fair shot. We give people the platform necessary to prove and showcase their skills so that employers can find the most talented people without a bunch of noise getting in the way. 
      %p MetaBright is an early-stage startup based out of San Francisco. Our product launched less than three months ago and we’re growing fast. 
      %p We’re recent grads ourselves. We’ve had our share of internships and we can promise you, this is not going to be your average internship. You’re going to learn what life is like in a startup. You’ll be hustling and pushing directly with the two co-founders. Sometimes things will be awesome, and sometimes they’ll suck. We need you to bring focus to your work, a willingness to debate ideas, and most of all, you can’t be afraid.
      %p From the very beginning you’ll be pushing code and contributing to product decisions. Since you’ll be moving fast, you have to arrive already understanding our business and our market. 
      %p Everyone does a little bit of everything, and you should be no different. You absolutely need to be a hacker, and you should also have good business acumen, a passion for tech, and a sense of design.
      %p Unlike a typical startup hacker, you’ll have two major benefits: 1) Limited risk of failure, and 2) you’ll get paid.
      %h4 How to apply
      %p Take Challenges for the stuff you know. If you get into the top 50 of the <a href="/challenges/rubyonrails">Ruby on Rails</a>, <a href="/challenges/jquery">jQuery</a>, and <a href="/challenges/css">CSS</a> Challenges, we'll definitely get in touch with you. Even if you can't, cool responses to Creative Response questions tend to get our attention.
      %p When you're happy with the progress you've made, send an email to <a href="mailto:internship@metabright.com">internship@metabright.com</a> with a link to your profile. Please don't send us your resume or a cover letter -- we won't read them.
      %h4 Deadline
      %p The deadline is May 20, 2013. People who apply early are at a significant advantage because we'll have more time to review their profile. 
