%div.intcontainer
  %div.firstchallengeint
    %div.firstchallengeintheader{ style:"padding: 7px 0 0 9px" }
      %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style: "width:42px; height:47px; margin:4px 4px 0 0;" }
      %span{ style:"font-size:35px; position:relative; bottom:9px;" } Welcome to MetaBright!
    %hr{ style:"margin:0" }
    %div.introintcontent
      %p{ style:"font-size:18px; margin-bottom:0;" } Here's how it works:
      %ul
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_1_purple.png" }
          %span.inttitle Choose a Persona
          %br
          %span.intdetails
            The world of Metabright is made up of Personas. Personas represent who you are or who you want to be. Some are serious, some are for education, and some are just for fun. New personas are will be unlocked every week.
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_2_purple.png" }
          %span.inttitle Prove yourself
          %br
          %span.intdetails 
            Personas are made up of challenges, skills and adventures. As you progress through each, you will also improve your persona. Sometimes the way to progress will be a quiz, or a test of your creative skills - sometimes it will be a call to a larger adventure.
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_3_purple.png" }
          %span.inttitle Grow!
          %br
          %span.intdetails 
            There is no end to the world of Metabright. Aquire new personas, help (or challenge) others, and even build your own personas and challenges for others to take.
          %p Good luck.
    = link_to "Let's go!", start_path, style: "float: right; margin: 0 10px 10px 0;", class: "button button-actionable"