:css
  div.intcontainer{ display: none; }
  #landingbox{ margin-top: 90px; background: transparent; background-color: none; border: 0; }
  h3 { display: inline; margin-bottom: 2px; }
  p { font-size: 15px; }
  strong { color: #404040; }
:javascript
  $(function(){
    $(".intcontainer").fadeIn(1000);
  });

%div.intcontainer
  %div.firstchallengeint
    %div.firstchallengeintheader{ style:"padding: 7px 0 0 9px" }
      %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style: "width:42px; height:47px; margin:4px 4px 0 0;" }
      %span{ style:"font-size:35px; position:relative; bottom:9px;" } Welcome to MetaBright!
    %hr{ style:"margin:0" }
    %div.introintcontent
      %p{ style:"font-size:18px; margin-bottom:0;" } Here's how it works:
      %ul
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_1_purple.png" }
          %h3.inttitle Choose a Persona
          %p.intdetails
            The world of MetaBright is organized according to Personas. Personas represent <strong>who you are</strong> or <strong>who you want to be</strong>.
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_2_purple.png" }
          %h3.inttitle Prove yourself
          %p.intdetails 
            Personas are made up of <strong>Challenges</strong> - areas of knowledge, skill, and adventure. Your progress in Challenges corresponds to advancement in your Persona.
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Random+numbers/round_3_purple.png" }
          %h3.inttitle Grow
          %p.intdetails
            Get better at your Challenges and build your Persona. Dominate the leaderboard while helping others improve. Create your own Challenges and become a master of MetaBright. <strong>Be who you want to be.</strong>
    = link_to "Let's go!", start_path, style: "float: right; margin: 0 10px 10px 0;", class: "button button-actionable"