#employer.intro_wrapper
  .intro
    .header
      = image_tag STONEY_MEDIUM_URL, style: "height:47px; margin:4px 4px 0 0;", alt: "Stoney"
      %h1 You're about to start your first Challenge!
    %hr{ style:"margin:0"}
    .body
      %ul
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", alt: "Tip" }
          %h3 Timed multiple choice questions
          %p You'll take 7 multiple choice questions to get a sense of your current skill level.
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", alt: "Tip" }
          %h3 The Challenge Question
          %p This question is more in depth and will put your creativity to the test. 
          / %h3 The Boss question
          / %p Just like in a video game, this question is a bit tougher and may require some creativity.
        %li
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", alt: "Tip" }
          %h3 This is just the beginning!
          %p You can always improve your score by taking additional questions and retaking ones you missed.
    = link_to "Let's Go!", @forward_to, style: "margin: 0 10px 10px 0;", class: "submit_button"