<h1>Request an invite</h1>
<p>Please provide your email address below and we will send you a trial account login as they become available.</p>
<br>
<%= form_for(:pages, :url => invitation_path, :method => "GET") do |f| %>
	<div class="field clearfix">
		<%= f.label :email %>
		<div class="input">
			<%= f.text_field :email, :autofocus => true %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Submit", :class => "btn primary" %>
	</div>
<% end %>