:css
  #landinglogo{width:720px;margin-top:-40px; margin-bottom:-30px; }
  #tagline{ width:580px; margin-right:auto; margin-left:auto; text-align:center;}
  #tagline span{font-family:'MuliItalic'; font-size:18px; font-style:italic;}
  .container {width: 940px; margin-left: auto; margin-right: auto; zoom: 1; display:inline-block; padding:3px 0 0 142px;}
  .container h3{ left:68px; }
  #landingbox{ margin-top: 130px; height:335px; width: 695px; margin-left: auto; margin-right: auto; background-color: whiteSmoke;border-radius: 6px;border: 1px solid rgba(0, 0, 0, .1);background: rgba(255, 255, 255, 0.8); }
  div.footer { position: absolute; bottom: 0px; }

%div#landingbox
  %div#logospace{ style: "width:720px;margin-right:auto;margin-left:auto;position: relative;" }
    %img#landinglogo{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo" }
  %div#tagline
    %span We believe that everyone has the right to be recognized for their knowledge and skills. From web development to cooking, compete with others, and grow together.
  %div#buttonspace{ style: "margin-top:30px;" }
    %center
      = link_to "/auth/google_oauth2", class: "btn danger", style: "margin-right: 40px; width:205px; padding-top:7px; padding-bottom:7px;" do
        %img{ style: "height:30px;", src: "https://s3.amazonaws.com/moonlite-nsdub/static/icon+google.png" }
        %span.landingbuttontext Sign in with Google »
      = link_to "/auth/facebook", class: "btn danger", style: "width:205px; padding-top:7px; padding-bottom:7px;" do
        %img{ style: "height:30px;", src: "https://s3.amazonaws.com/moonlite-nsdub/static/icon+facebook.png" }
        %span.landingbuttontext Sign in with Facebook »
= render "layouts/footer"
