<h1>Project Moonlite</h1>
<p>Welcome to Project Moonlite. We're still in private alpha but we'll be opening up to a limited number of signups on October 15th. Visit our <%= link_to "About Us", about_path %> page to learn more.</p>
