:javascript
  $(function(){
    $("td a").click(function(e){
      e.preventDefault();
      $.get($(this).attr('href'), function(data){
        $("#origin").fadeOut("slow", function(){ 
          $(this).html(data).fadeIn(); 
        });
      })
    });
  });
#origin
  .hero
    %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+less+white+space", alt: "MetaBright"}
    %h2 Prove yourself. Be discovered.
  .container
    .body
      %h3 Try it out! Choose your Challenge...
      %table
        %tr.tiles
          - (0..3).each do |i|
            - path = @paths[i]
            - first_section = path.try { |p| p.sections.first }
            - if path && first_section
              %td
                = link_to start_section_path(path.sections.first), rel: "nofolow", remote: true do
                  = image_tag path.picture
        %tr.tiles
          - (4..8).each do |i|
            - path = @paths[i]
            - first_section = path.try { |p| p.sections.first }
            - if path && first_section
              %td
                = link_to start_section_path(path.sections.first), rel: "nofolow", remote: true do
                  = image_tag path.picture            
                   