:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 950px; background: rgba(36, 72, 109, 0.8); }

#employer1.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Turbocharge your hiring
    .body
      %div
        %h2{ style: "text-transform: none;"}
          Thanks! We've received your submission.
        %p Someone from our team will get in touch with you in the next 24 hours. 
        %p
          = link_to "Return to home page.", root_url
        