:javascript
  $(function(){
    $(".explorenewusercontent").hide().fadeIn(1000);
    $(".persona_select").click(function(){
      $(".persona_select.active").removeClass("active");
      $(this).addClass("active");
      var id = $(this).attr("id").substring(15);
      $(".persona_preview").html($(".persona_preview_"+id).html());
      show_persona_challenges();
    });
    $(".persona_select:first").addClass("active");
    show_persona_challenges();
    $(".modal_close").hide();
  });
  
.start
  = render "personas/explore"