:javascript
  $(function(){
    $(".explorenewusercontent").hide().fadeIn(1000);
  });
:css
  .explorecontainer { margin: 60px auto 12px auto; }
  .modal_close { display: none; }
= render "personas/explore"