:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 950px; background: rgba(36, 72, 109, 0.8); }
  
<script src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js" type="text/javascript"></script>

#employer_product.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span MetaBright Talent Miner
    .body
      %div
        %h2
          Find Better Candidates
        %p
          MetaBright's <strong>Talent Miner</strong> makes it easy to quickly source high-quality candidates that other recruiting methods miss. Tell us what skills your company needs and we'll connect you with MetaBright users who fit the bill. Recruiting has never been easier. 
        %h3
          Our philosophy
        %p
          When evaluating a potential new-hire, we believe the most important thing is whether that person has the skills necessary to do the job. Things like where they went to school or where they previously worked are just distractions from what really matters: Can they perform?
        %h3
          How we're different
        %p
          Thousands of people use MetaBright to prove their skills. Since we evaluate everyone from Ivy-league grads to self-taught hackers on the same metric, you'll be able to discover the "diamonds in the rough" of the labor market.
        %h3 
          How it works
        %ol
          %li Identify the skills you need in your next hire.
          %li MetaBright instantly delivers anonymized results of matching candidates.
          %li Browse scores and work samples of each.
          %li Select which people you want to contact.
          %li Enjoy interviewing your pre-screened candidates.
        %h3 FAQ
        #faq_accordion.accordion
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseTwo"}
                How are people evaluated at MetaBright?
            #collapseTwo.accordion-body.collapse.in
              .accordion-inner
                We evaluate people with things called <strong>Challenges</strong> -- fancy quizzes that analyze people's raw knowledge, their creative ability, and what they’ve accomplished. 
                We distill all this information down into one easy to understand percentile ranking that indicates how capable they actually are.
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseThree"}
                What does it meant to contact a user?
            #collapseThree.accordion-body.collapse
              .accordion-inner
                Your Talent Miner account allows you to scan MetaBright for users whose skills match the needs of your company. 
                When you find someone who’s a good fit, you can contact them via Talent Miner to indicate that you’re interested in speaking further. 
                The MetaBright user will then receive an invitation to connect with you. 
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseFour"}
                What if I contact someone and they never get back to me?
            #collapseFour.accordion-body.collapse
              .accordion-inner
                Don’t worry -- if you contact someone and they don’t respond within 7 days, we’ll credit your account.
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseSix"}
                Why does MetaBright look so playful?
            #collapseSix.accordion-body.collapse
              .accordion-inner
                We’ve found that people are more likely to stay engaged with the site when it feels like they're playing a game as opposed to taking a test. 
                This means we can evaluate people with a higher degree of confidence and we can deliver more examples of their abilities! 
        %h3 
          Talent Miner Pricing
        %ul.pricing_table
          %li.price_block
            %h3 Basic
            .price
              .price_figure
                %span.price_number $10
                %span.price_tenure per user, per month
            %ul.features
              %li Contact 5 users
              %li Filter by 1 skill
              %li --
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::MINER_BASIC), class: "action_button"
          %li.price_block
            %h3 Professional
            .price
              .price_figure
                %span.price_number $19
                %span.price_tenure per user, per month
            %ul.features
              %li Contact 20 users
              %li Filter by 2 skills
              %li Email support
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::MINER_PRO), class: "action_button"
          %li.price_block
            %h3 Enterprise
            .price
              .price_figure
                %span.price_number $39
                %span.price_tenure per user, per month
            %ul.features
              %li Contact 50 users
              %li Filter by 3+ skills
              %li Email and phone support
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::MINER_ENT), class: "action_button"
          %li.price_block
            %h3 Ultimate
            .price
              .price_figure
                %span.price_number $69
                %span.price_tenure per user, per month
            %ul.features
              %li Contact 100 users
              %li Filter by 3+ skills
              %li Email and phone support
            .price_footer
              = link_to "Select", product_form_path(p: Opportunity::MINER_ULTRA), class: "action_button"