.aboutcontainer
  .aboutbox
    .aboutheader
      %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png"}
        %span Terms of Service
      %hr{:style => "margin:0"}
    .aboutbody{ style: "min-height: 333px;" }
      %h4 The Rules
      %p aklsdjf aksdfj aklsdjf lkas djflkasd jfalksdf jkalsd f
      