<style>
	#tutorial h2 { margin-bottom: 20px; }
	#tutorial ol li { padding: 4px; font-size:15px; }
	#tutorial p { font-size: 15px; }
	#tutorial img { padding: 15px; height: 300px; }
</style>
<section id="tutorial">
	<h2>Before we get started...</h2>
	<p>A quick explanation of the challenge system:</p>
	<%= image_tag "question_intro.PNG" %>
	<ol>
		<li>Each challenge consists of a series of multiple choice questions and is meant to only take <strong>5-10 minutes to complete.</strong></li>
		<li>Each question you answer correctly will earn you <strong>10 points.</strong></li>
		<li>You can earn <strong>bonus points</strong> on each question equal to the number of questions you've correctly answered in a row.<br>
		<li>But theres a catch! The <strong>timer</strong> at the top right of your screen will be counting down to zero. Answer before the timer runs out to earn any bonus points.</li>
		<li>Don't worry if you <strong>miss a question</strong>! All missed questions will be cycled back in at the end. You can't earn any bonus points for these questions, but you can still earn the 10 base points.</li>
		<li>The top scores will be listed on the challenge <strong>leaderboard</strong>. See if you can get to the top!</li>
	</ol>
	<p>Good luck and have fun!</p>
</section>
<div class="actions">
	<%= link_to "Continue", continue_path_path(@path), :class => "btn primary" %>
	<%= link_to "Back", root_path, :class => "btn secondary" %>
</div>