.employer-container{ style: "margin: 140px auto 15px; width: 650px;" }
  .employer-box{ style: "min-height: inherit; padding: 0 15px 15px;" }
    .header{ style: "width: 100%; border-bottom: 1px solid #DDD;" }
      = image_tag STONEY_SMALL_URL, style: "height: 72px; display: inline; vertical-align: middle", alt: "Stoney"
      %h1{ style: "display: inline; vertical-align: middle; font-size:25px;" } Upgrade your browser to use MetaBright
    .body
      %p{ style: "font-size: 16px; line-height: 20px;"} 
        MetaBright's assessment technology requires you to use a modern browser. We recommend using
        = link_to "Google Chrome", "//www.google.com/chrome", target: "_blank"
        for an optimal experience.
      = link_to "Download Google Chrome", "//www.google.com/chrome", target: "_blank", class: "submit_button", style: "text-align: center; float: none; margin: 0 auto; display: block ;width: 190px;"
        