%p{ style: "font-size:12px;"} Hi #{@user.name.split.first},
%p{ style: "font-size:12px;"} My name is Jonathan. I noticed you recently signed up for a MetaBright account. How is everything going? I'm happy to answer any questions you might have, or give you a hand to get started. 
%p{ style: "font-size:12px;"} Thanks!
%p{ style: "font-size:12px;"} Jonathan