%p{ style: "font-size:12px;"} Hi @name,
%p{ style: "font-size:12px;"} My name is Jonathan, and I’m a co-founder of a startup based out of San Francisco called MetaBright. We built MetaBright to help recruiters quickly and easily evaluate their candidates’ skills. We make sure that you never miss out on a qualified candidate and that you never waste your time interviewing someone who isn’t fit for the job. 
%p{ style: "font-size:12px;"} I’m contacting a handful of recruiters that use Bullhorn who I think will be able to get the most out of MetaBright. I’m so confident you’ll love our platform that I want you to try it out for free. Use this coupon code and the first month is on us: <strong>TRYMBFREE</strong>
%p{ style: "font-size:12px;"} 
  Get started at: 
  %a{href: "https://www.metabright.com/evaluator", target: "_blank"} www.metabright.com/evaluator
%p{ style: "font-size:12px;"} I know this message is unexpected, so if you have any questions or concerns, feel free to reach out to me. 
%p{ style: "font-size:12px;"} Thanks!
%p{ style: "font-size:12px;"} 
  Jonathan Kirst
  %br
  (415) 423-1151
