%p{ style: "font-size:12px;"} You've been invited to join the #{@group.name} account on MetaBright. Please follow the link below to register.
%p{ style: "font-size:12px;"}= link_to @url, @url
%p{ style: "font-size:12px;"} 
  Thanks,
  %br
  Team MetaBright