%p{ style: "font-size:12px;"} Please follow the link below to register with the #{@group.name} account on MetaBright.
%p{ style: "font-size:12px;"}= link_to @url, @url
%p{ style: "font-size:12px;"} 
  Thanks,
  %br
  Team MetaBright