:javascript
  function check_table(){
    if($("table.table tbody").find("tr").size() == 0){
      var columns = $("table.table").find("th").size();
      var $new_row = $("<tr></tr>").appendTo("table.table tbody");
      for(i = 0; i < columns; i++){
        $new_row.append("<td>...</td>");
      }
    }
  }
  
  $(function(){
    check_table();
    $(".mark_approved").on("ajax:success", function(xhr, data){
      if($(this).hasClass("approved")){
        $(this).text("waiting").removeClass("approved").addClass("waiting");
      } else {
        $(this).text("approved").removeClass("waiting").addClass("approved");
      }
    });
    
    $(".mark_locked").on("ajax:success", function(xhr, data){
      if($(this).hasClass("open")){
        $(this).text("locked").removeClass("open").addClass("locked");
      } else {
        $(this).text("open").removeClass("locked").addClass("open");
      }
    });
    
    $(".mark_reviewed").on("ajax:success", function(xhr, data){
      $(this).parents("tr").hide("fast", function(){ $(this).remove(); });
    });
  });