%div.single_pane
  = link_to "Back", admin_paths_path, class: "button button-standard", style: "float: right;"
  %h1{ style: "border-bottom: 1px solid #DDD; margin-bottom: 20px; padding: 10px 0;" }= @user.name
  %ol
    - @visits.each do |v|
      %li= v.request_url