<% if @streak_points.to_i > 0 %>
  <div id="correct_modal" class="modal hide fade" style="width: 500px; top: 35%;">
  <div class="modal-body" style=" padding: 20px; font-weight: bold; color:#57A957; margin-left: 35px;">
    <p style="font-size: 30px; ">Correct!</strong></p>
    <div id="achievement_notice" style="color:darkcyan;">
      <p style="font-size: 40px;">Unlocked Achievement!<p>
      <p style="font-size: 30px;"><%= @streak %> Streak!</p>
    </div>
    <p style="font-size: 30px; font-weight: bold; margin: 20px 0px 0px 20px;">
      +10 + +<%= @streak_poin %><br/><span style="font-size:14px; margin-left:8px;">points</span>
    </p>
  </div>
</div>
<% else %>
  <div id="correct_modal" class="modal hide fade" style="width: 230px; margin: -200px 0px 0px -150px;">
  <div class="modal-body" style=" padding: 20px; font-weight: bold; color:#57A957; margin-left: 35px;">
    <p style="font-size: 30px; ">Correct!</strong></p>
    <p style="font-size: 30px; font-weight: bold; margin: 20px 0px 0px 20px;">
      +<%= @last_points %><br/><span style="font-size:14px; margin-left:8px;">points</span>
    </p>
  </div>
</div>
<% end %>