<div id="must_complete_first_modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Not so fast...</span></h3>
  </div>
  <div class="modal-body">
    <p style="font-size: 16px; padding:0 7px 5px 10px; line-height: 22px;">You must complete your first <%= name_for_paths.downcase %> before you can access other features. Keep going, you're almost there!</p>
  </div>
  <div class="modal-footer">
    <span class="btn seconday" onclick="$('#must_complete_first_modal').modal('hide');">Back</span>
  </div>
</div>