<div id="start_modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>You're about to start...</h3>
  </div>
  <div class="modal-body">
    <p style="font-size: 16px; padding:0 7px 5px 10px;">Quick tips:</p>
    <ol style="font-size: 16px; padding:0 7px 5px 10px;">
      <li style="padding:5px;"><strong>Earn +10 points</strong> for each correct answer.</li>
      <li style="padding:5px;">Earn a <strong>streak bonus</strong> by correctly answering multiple questions in a row.</li>
      <li style="padding:5px;">You only have <strong>30 seconds</strong> to answer each question before your streak bonus expires.</li>
    </ol>
    <p style="font-size: 16px; padding:0 7px 5px 10px; font-weight: bold;">Good luck!</p>
    <p style="font-size: 22px; padding:5px 7px 5px 30px; display:inline;" id="starting_timer"><strong>00:15</strong></p>
    <span class="btn primary" style="float:right;" onclick="$('#start_modal').modal('hide');start_question_timer();">Skip</span>
  </div>
</div>