- if @user
  %span{style:"font-size:10px; color:gray;"}
    You are receiving this message because #{@user.email} is a member of MetaBright. To adjust your email settings or to unsubscribe, 
  %span{style:"font-size:10px;"}
    = link_to "click here.", notification_settings_url(@user.signup_token)
  %span{style:"font-size:10px; color:gray;"} 
    MetaBright, Inc. 500 Oak Street, Suite 5, San Francisco, CA, 94102
- else
  %span{style:"font-size:10px; color:gray;"}
    - if @footer_message
      = @footer_message
    - else
      You are receiving this message because you've been invited to join MetaBright. 
  %br
  %span{style:"font-size:10px; color:gray;"} 
    MetaBright, Inc. 500 Oak Street, Suite 5, San Francisco, CA, 94102