%span{:style => "font-size:24px;"} Congratulations!
%br/
%span{:style => "font-size:14px; font-style:italic;"} You've unlocked a new challenge...
%hr{:style => "border:1px solid rgba(0, 0, 0, .1); border-bottom:none;"}
%p{:style => "font-size:12px;"}
  Due to your domination of the #{@persona_name} persona, you've unlocked the
  %a{:href => "#{@challenge_link}"}#{@challenge_name}
  challenge.        
%p{:style => "font-size:12px;"} 
  %a{:href => "#{@challenge_link}"} Begin it now.
%p{:style => "font-size:12px;"} 
  Thanks,
  %br/
  The MetaBright Team