%p{ style: "font-size:12px;"} #{@commenting_user.name} just commented on your response to:
%p.quote{ style: "font-size:12px; font-style: italic;" }= @submission.task.question
%p{ style: "font-size:12px;"} To see the comment thread, follow the link below:
%p{ style: "font-size:12px;"}
  %a{ href: @action_url }= @action_url
%p{ style: "font-size:12px;"} 
  Thanks,
  %br
  Team MetaBright