%p #{@voting_user.name} just voted for your response to:
%p.quote{ style: "font-size:12px; font-style: italic;" }= @submission.task.question
%p To see your post, follow the link below:
%p
  %a{ href: @action_url }= @action_url
%p 
  Thanks,
  %br
  The MetaBright Team