!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    <table cellpadding:"0" cellspacing="0" style="border:1px solid rgba(0, 0, 0, .1);" width="620px">
    %tbody
      %tr
        %td{:style => "background:#F9F9F9; padding:6px 0 3px 6px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
          %a{:href => "http://www.metabright.com"}
            %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+200+wide.png", :style => "width:145px"}/
      %tr
        %td{:style => "font-family:'lucida grande',tahoma,verdana,arial,sans-serif; color: #404040; padding:6px 12px 12px 12px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
          %span{:style => "font-size:24px;"} Congratulations!
          %br/
          %span{:style => "font-size:14px; font-style:italic;"} You've unlocked a new privilege...
          %hr{:style => "border:1px solid rgba(0, 0, 0, .1); border-bottom:none;"}
            %p{:style => "font-size:12px;"}
              After making solid progress in @challenge_name, you've unlocked the ability to create your own CR's. 
              The CR's you post will be immediately available to the MetaBright community.    
            %p{:style => "font-size:12px;"} 
              You can make CR's by clicking the new "Create a CR" button on your stream.
              %a{href:"#"} Try it out now.
            %p{:style => "font-size:12px;"} 
              Thanks,
              %br/
              The MetaBright Team