!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    <table cellpadding:"0" cellspacing="0" style="border:1px solid rgba(0, 0, 0, .1);" width="620px">
    %tbody
      %tr
        %td{:style => "background:#F9F9F9; padding:6px 0 3px 6px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
          %a{:href => "http://www.metabright.com"}
            %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+200+wide.png", :style => "width:145px"}/
      %tr
        %td{:style => "font-family:'lucida grande',tahoma,verdana,arial,sans-serif; color: #404040; padding:6px 12px 12px 12px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
          %span{:style => "font-size:24px;"}You can now create challenges!
          %hr{:style => "border:1px solid rgba(0, 0, 0, .1); border-bottom:none;"}
            %p{:style => "font-size:12px;"}Have you ever wanted to create your own challenges? Well, now you can! 
            When you visit MetaBright, you'll see a 'beaker' icon in your nav bar where you can create and manage your challenges.
            %p{:style => "font-size:12px;"}
           	  Or you can
           	  = succeed "." do
           	  	%a{:href => "#"}get started now
            %p{:style => "font-size:12px;"} 
              Thanks,
              %br/
              The MetaBright Team