%p{ style: "font-size:12px;"} Hi #{@user.name.split.first},
%p{ style: "font-size:12px;"} 
  **User Name** has just completed the **Eval Name** Evaluation! You can view all your candidates (LINK) or view a detailed report of just **User first name's** score. 
%p{ style: "font-size:12px;"} 
  Thanks,
  %br
  Team MetaBright
  
  / We need to link the "Manage Notification Settings" to settings that are specific to group admins, and not consumer users of MB