%p{ style: "font-size:12px;"} Hi #{@user.name.split.first},
%p{ style: "font-size:12px;"} 
  Thanks for signing up for MetaBright! Your plan allows you to have **1 user** on your account. If you'd like to add more users, just go to ***www.metabright.com/groups/name/account***. 
 %p{ style: "font-size: 12px;"} 
%p{ style: "font-size: 12px;"}
  If you ever have any questions about MetaBright or your plan, you can reach our support team at support@metabright.com.
%p{ style: "font-size:12px;"} 
  Thanks,
  %br
  Team MetaBright
  