%p Howdy Neighbor,
%p Looks like you're in need a password reset. No worries, just follow the link below to get back into your account.
%p
  = link_to @url, @url
%p Rock on,
%p Team MetaBright

%p PS: If you're still having problems, feel free to reply to this email!