%h3{ style: "font-size: 14px; font-weight:bold; margin:0;" } Hey #{@user.name.split.first},
%p{ style: "font-size: 14px; margin-top:0;" } Nice work on MetaBright today! Here's a summary of your performance in the Arena:
%p{ style: "font-size: 12px; margin-left: 20px; font-weight: bold; text-decoration: underline; margin-bottom: 2px;" } 
  Ruby on Rails
  %ul{ style: "font-weight: normal; text-decoration: none; list-style: none; margin-top: 0;" }
    %li{ style: "margin-left: 0;"} Questions right: 13
    %li{ style: "margin-left: 0;"} Questions wrong: 4
    %li{ style: "margin-left: 0;"} Points: 1218
%p{ style: "font-size: 12px; margin-left: 20px; font-weight: bold; text-decoration: underline; margin-bottom: 2px;" } 
  CSS
  %ul{ style: "font-weight: normal; text-decoration: none; list-style: none; margin-top: 0;" }
    %li{ style: "margin-left: 0;"} Questions right: 19
    %li{ style: "margin-left: 0;"} Questions wrong: 1
    %li{ style: "margin-left: 0;"} Points: 1731
%p{ style: "font-size: 14px;" } You can retake the questions you missed in 14 days for a maximum of 75% of their total points.
%p{ style: "font-size: 14px;" } Here's a personalized study guide to help you prepare:
%p{ style: "font-size: 12px; margin-left: 20px; font-weight: bold; text-decoration: underline; margin-bottom: 2px;" } 
  Ruby on Rails
  %ul{ style: "font-weight: normal; text-decoration: none; list-style: none; margin-top: 0;" }
    %li{ style: "margin-left: 0;"}=link_to "Some website, probably W3", "#"
    %li{ style: "margin-left: 0;"}=link_to "Maybe this is googs", "#"  
    %li{ style: "margin-left: 0;"}=link_to "Wikipedia", "#"    
%p{ style: "font-size: 12px; margin-left: 20px; font-weight: bold; text-decoration: underline; margin-bottom: 2px;" } 
  CSS
  %ul{ style: "font-weight: normal; text-decoration: none; list-style: none; margin-top: 0;" }
    %li{ style: "margin-left: 0;"}=link_to "Some website, probably W3", "#"
    %li{ style: "margin-left: 0;"}=link_to "Maybe this is googs", "#"  
    %li{ style: "margin-left: 0;"}=link_to "Wikipedia", "#"    
%p{ style: "font-size: 14px; margin-bottom: 0; " } Thanks,
%p{ style: "font-size:14px; margin-top: 0; " } Team MetaBright