!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    <table cellpadding:"0" cellspacing="0" style="border:1px solid rgba(0, 0, 0, .1);" width="620px">
    %tbody
      %tr
        %td{:style => "background:#F9F9F9; padding:6px 0 3px 6px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
          %a{:href => "http://www.metabright.com"}
            %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+200+wide.png", :style => "width:145px"}/
      %tr
        %td{:style => "font-family:'lucida grande',tahoma,verdana,arial,sans-serif; color: #404040; padding:6px 12px 12px 12px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
          %span{:style => "font-size:24px;"} Welcome to <a href="http://www.metabright.com" style="text-decoration:none; color:inherit;">MetaBright</a>, #{@user.name}!
          %br/
          %hr{:style => "border:1px solid rgba(0, 0, 0, .1); border-bottom:none;"}
            %p{:style => "font-size:12px;"} Thanks for signing up for <a href="http://www.metabright.com" style="text-decoration:none">MetaBright</a>. Remember to always choose the same option to log in to MetaBright as you did to sign up. Otherwise, you might accidentally create two separate accounts.
            %p{:style => "font-size:12px;"} 
              If you have any questions about MetaBright, you can reach out to our support team at
              = succeed "." do
                %a{:href => "[email]"} support@metabright.com
            %p{:style => "font-size:12px;"} 
              Thanks,
              %br/
              The MetaBright Team
      %tr
        %td
          %span{style:"font-size:10px; color:gray;"}
            You are receiving this message because @!user email address!@ is a member of MetaBright. To adjust your email settings or to unsubscribe, 
          %span{style:"font-size:10px;"}= link_to "click here.", notification_settings_url(@user.signup_link)
          %br
          %span{style:"font-size:10px; color:gray;"} MetaBright, Inc. 212 Valencia Street, Suite D, San Francisco, CA 94123
