<p>Your company administrator invited you to MetaBright, a new online learning management and certification tool. To finish your registration, visit the link below:</p>
<p><a href="<%= @accept_url %>"><%= @accept_url %></a></p>