%span{ style: "font-size:22px;"} Hooray! You have a new follower!
%br/
%hr{ style: "border:1px solid rgba(0, 0, 0, .1); border-bottom:none;"}
%p{ style: "font-size:12px;"} Hi #{@user.name.split.first},
%p{ style: "font-size:12px;"} Following user is now following you. 
%table{ cellpadding: "0"; style: ""}
  %tbody
    %tr{ valign: "top"}
      %td{ style: ""}
        %a{ href:"#" target:"_blank"}
          %img{ style: ""}
  
%p{ style: "font-size:12px;"} When someone follows you, it means they think you're pretty awesome, and they enjoy seeing your MetaBright responses. 
%p{ style: "font-size:12px;"} Thanks,
%p{ style: "font-size:12px;"} The MetaBright Team