Hi <%= @user_email %>,

<p>Your company administrator invited you to Project Moonlite. To finish your registration, visit the link below:</p>
<p><a href="<%= @accept_url %>"><%= @accept_url %></a></p>