:css
  .exploretiledetailsarea       { border: 1px solid rgba(0, 0, 0, .1); border-radius:10px; padding:10px; background-color:whitesmoke; margin:0 21px 11px 21px;}
  .bigexploreimagespace         { display:inline-block; vertical-align: top;}
  .bigexploreimagespace img     { align:left; width:120px; margin-right:10px}
  .exploredetailsspace          { display:inline-block; width:466px;vertical-align: top;}
  .exploredetailsspace button   { margin-top:10px}
  .exploretextdetails h2        { font-size:23px; font-weight:bold; font-style:italic;}

%div.exploretiledetailsarea
  %div.bigexploreimagespace
    = image_tag persona.picture, size: "140x140"
  %div.exploredetailsspace
    %div.exploretextdetails
      %h2= persona.name
      %p= persona.description
    %button.btn.danger Choose
