<script>
function start_point_countdown(){
  start_counter = 0;
  progress = 100;
  $progress_bar = $("#raw_number_progressbar");
  countdown = setInterval(function(){
    start_counter ++;
    if(start_counter > 30){
      if(progress == 0){
        $("#raw_number_container").animate({opacity: 0.2}, 250);
        $("#listless").val(false);
      }
      $progress_bar.progressbar({ value: progress });
      progress --;
    }
  }, 150);
}

$(function(){
  <% if @streak_points > 0 %>
  start_point_countdown();
  <% end %>
  $("#raw_number_progressbar").progressbar({ value: 100 });
});

</script>
<style>
  #game_container {  }
  #raw_number_container { }
  #raw_number {  }
  #raw_number_progressbar { }
</style>
<div id="game_container" style="<%= @streak_points > 0 ? "" : "opacity:.2;" %> margin-top: 75px; width:230px;">
  <div style="font-size: 20px; color: grey; margin: auto; font-weight: bold; margin: 0px 0px 5px 30px;">STREAK BONUS</div>
  <div id="raw_number_container" style="border: 5px solid #57A957; width:230px; border-radius: 5px;">
    <span id="raw_number" style="font-size: 120px; color: #57A957;  padding: 10px;">+<%= @streak_points %></span><span style="font-size:15px; font-weight: bold; color: #57A957;">Points</span>
  </div>
  <div id="raw_number_progressbar" alt="Progress Bar" style="width: 240px; margin-top: 15px; border-radius: 5px;"></div>
</div>
