#evaluation_modal.dropdown_modal.modal.hide{ tabindex: "-1"}
  .explorecontainer
    .explorenewusercontent
      .exploreheader
        .modal_close
          = image_tag ICON_CLOSE_URL, alt: "Close"
        %h1
          = image_tag STONEY_SMALL_URL, alt:"Stoney"
          %span Welcome back!
      %hr
      .explorebody
        %p We highly advise that you not leave MetaBright.
        %button.modal_close Okay
