%div#explore_modal.dropdown_modal.modal.hide.fade{ tabindex: "-1" }
  %div.explorecontainer
    - @persona = Persona.first unless @persona
    - @paths = @persona.public_paths.order("public_at DESC") unless @paths
    = render "personas/show"
      
