#register_modal.dropdown_modal.modal.hide.fade{ tabindex: "-1"}
  .explorecontainer
    .explorenewusercontent
      .exploreheader
        .modal_close
          = image_tag ICON_CLOSE_URL, alt: "Close"
        %h1
          = image_tag STONEY_SMALL_URL, alt:"Stoney"
          %span Welcome to MetaBright
      %hr
      .explorebody
        %p{ style: "margin-bottom: 0;" } Before signing up, please select which option best describes you:
        %div
          = link_to "I want to prove my skills and make myself more marketable.", new_user_path, class: "submit_button", style: "margin: 10px 20px", description: "link-to-registration"
          = link_to "I help hire people -- I want my job candidates evaluated.", pricing_path, class: "submit_button landing_yellow", style: "margin: 10px 20px", description: "link-to-pricing"
        .clear_floats
