#register_modal.dropdown_modal.modal.hide.fade{ tabindex: "-1"}
  .explorecontainer
    .explorenewusercontent
      .exploreheader
        .modal_close
          = image_tag ICON_CLOSE_URL, alt: "Close"
        %h1
          = image_tag STONEY_SMALL_URL, alt:"Stoney"
          %span Welcome to MetaBright! 
      %hr
      .explorebody
        %p We believe that everyone has the right to be recognized for their knowledge and skills, not just what fits neatly on a resume.
        %div{style:"padding:12px;"}
          - unless current_user
            %p
              = link_to "Sign in with email & password", signin_path
          %span Learn about these registration options
          %span
            %a#signin_options_pop.mb-tooltip
        
  :javascript
    $('#signin_options_pop').popover({trigger: 'click', placement:'bottom', content:'We think online communities work best when people use their real identities, and a good way to encourage this is to have people use a social sign-up before contributing. We take your privacy seriously and will never post on your behalf, or do anything our mothers would not approve of.'})
  