#search_learn_more_modal.dropdown_modal.modal.hide.fade{ tabindex: "-1"}
  .explorecontainer{ style: "width: 550px;"}
    .explorenewusercontent
      .exploreheader
        .modal_close
          = image_tag ICON_CLOSE_URL, alt: "Close"
        %h1
          = image_tag STONEY_SMALL_URL, alt:"Stoney"
          %span What is MetaBright Search?
      %hr
      .explorebody{ style: "text-align: left; padding: 0 18px; min-height: 0;"}
        %h4{ style: "text-align: center; font-size: 16px;"} MetaBright Search is a sourcing tool that connects recruiters and HR professionals with pre-screened, skilled candidates. 
        %hr{ style: "margin: 9px 0 1px;"}
        %p{ style: "font-size: 13px; line-height: 17px; word-spacing: 1px;"}
          Thousands of people use MetaBright to test and measure their skills and knowledge. 
          With MetaBright Search, we connect you with warm, pre-validated leads.
          MetaBright search is still in alpha. 
          When it's released publicly, you'll have access to the feature here.