@import "variables.css.scss";

body.employer { background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
body.employer .container.body { width: inherit; background-color: transparent; padding: 0px; }
.employer-container { width: 980px; border-radius: 0px; margin: 25px auto 0 auto; background-color: rgba(36, 72, 109, 0.8); height: 100%; padding-top:1px;}
.documentation { padding: 10px 20px; }

.employer-box {
  margin:12px; 
  background-color:white; 
  min-height: 600px; 
  border-radius: 0; 
  border:1px solid rgba(0, 0, 0, .1);
  overflow:hidden; 
  padding:20px 20px 5px 20px;
  
  .header {
    margin-bottom: 10px;
    
    .stoney { height: 72px; margin-top: -15px; }
    h2 { display: inline-block; font-size: 30px; }
    hr { margin: 8px; }
    input { float: right; border-radius: 0; margin: 10px 10px 0 0; padding: 7px 7px; font-size: 17px; }
  }
  .invite { 
    border-radius: 0; 
    padding: 6px 6px; 
    font-size: 15px; 
    margin: 4px 0 4px -8px; 
  }
  .first_timer {
    margin: 80px auto;
    width: 375px;
    text-align: center;
    padding: 20px 20px 30px;
    border: 4px solid $employer_green;
    border-radius: 4px;
    
    img { margin-bottom: 15px; }
    p { font-size: 15px; margin: 0px 0 30px; line-height: 20px; }
    a { float: inherit; }
  }
  .gear.small { height: 20px; width: 20px; }
  .gear.medium { height: 25px; width: 25px; }
  .gear.large { height: 30px; width: 30px; }
  .gear {
    cursor: pointer;
    opacity: 0.7;
    &:hover {opacity:1;}
  }
  
  table {
    width: 100%;
    
    td { 
      padding: 15px 10px; 
      border-bottom: 1px solid #DDD; 
      line-height: 25px;
      
      a { color: #333; }
      .show_quoted_text {
        font-size: 13px;
        color: #0088cc;
      }
    }
    .icon_table_cell {
      padding: 0; 
      width: 35px;
      [data-tip]:before { top: 3px; left: 12px; }
      [data-tip]:after { top: -25px; left: -3px; }
    }
  }
}

.evaluations {
  .path_pic {
    display: inline-block;
    margin-right: 5px;
    
    [data-tip]:before { left: 7px; }
    [data-tip]:after { left: -8px; }
  }
  .gear {
    padding: 15px 7px;
    
    [data-tip]:before { left: 5px; }
    [data-tip]:after { left: -8px; }
    
    div { font-size: 13px ;}
    tr {
      &:hover { background-color: #EEE; }
    }
  }
  .eval_url {
    width: 36%; 
    overflow: hidden;
    
    input {
      display: inline-block;
      text-align: center;
      font-size: 12px;
      cursor: text;
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
      border: 1px inset;
      background-color: white;
      padding: 2px 8px;
      width: 66.5%;
    }
    div {
      display: inline-block; 
      width: 10%; 
      position: relative; 
      top: 3px;
    }
  }
}

.custom_challenges {
  .inlinedisplay {
    list-style-type: none; 
    position:relative; 
    margin: 0 12px; 
    bottom:6px; 
    overflow-x: hidden;
  
    li { 
      display:inline; 
    
      &:nth-child(4n-3) {
        .mosaic-block.bar2 {
          margin-left: 0;
        }
      }
      &:nth-child(4n) {
        .mosaic-block.bar2 {
          margin-right: 0;
        }
      }
    }
    .mosaic-block.bar2 {
      height: 150px; 
      width: 182px;
      margin: 16px 25px ;
      cursor: pointer; 
    }
  }
  .create_link {
    font-size: 17px;
  }
}

#evaluations_overview{
  background: $employer_blue;
  
  .aboutbox{
    background-color: white; border-radius: 0; padding:8px;
    
    .header { 
      padding: 15px 15px 0 15px;
      
      img{ display:inline; height:61px; }
      span { font-size: 30px;position: relative;top:8px; }
      hr { margin:10px 0; }
      
      .actions {
        a {
          &:hover { text-decoration: none; }
          
          img { 
            height: 25px; 
            width: 25px; 
            opacity: .7;
            
            &:hover { opacity: .9; }
          }
        }
      }
    }
    .body{
      padding: 0 12px;
      
      p { margin: 10px 0; font-size: 16px; }
    }
  }
  
  .evaluations {
    padding: 10px;
    margin: 10px;
  }
}

#grade {
  .header{
    padding: 15px 15px 0 15px;
    margin: 0 0 30px 0;
    
    .actions {
      margin-top: 35px;
      float: right;
      
      .submitted_at {
        font-size: 13px; 
        margin-right: 10px; 
        position: relative; 
        top: 4px; 
      }
      
      a {
        div {
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
  }
  .body{
    .evaluations{
      .challenge_stats {
        margin: 20px 0 20px 0px;
        
        .big_number_space{
          display: inline-block; 
          color: rgb(116, 116, 116); 
          margin-right: 12px; 
          text-align: center;
          
          .big_number {
            font-size: 95px; 
            line-height: 95px ;
          }
          .text {
            font-size: 14px;
          }
        }
        .myrank{
          margin-right: 20px;
          top: 36px;
        }
        table {
          display: inline-block;
          width: auto;
          vertical-align: top;
          
          tr{
            &:hover {background-color: white;}
          }
        }
        .strengths_weaknesses {
          display: inline-block; margin-left: 20px; vertical-align: top; width: 40.5%;
          .header {
            padding: 0;
            margin: 0;
            font-weight: bold;
          }
          .strengths {
            li {
              background-color: rgba(13, 107, 13, 0.63);
              border: 1px solid rgba(13, 107, 13, 0.63);
            }
          }
          .weaknesses {
            li {
              background-color: rgba(185, 0, 0, 0.62);
              border: 1px solid rgba(185, 0, 0, 0.62);
            }
          }
          .body {
            ul{ 
              margin: 8px 0 0 0;

              li { 
                color: #fff;
                margin: 0 10px 10px 0;
                padding: 0px 6px;
                display: inline-block;
                line-height: 24px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
              }
            }
          }
        }
      }
      .header_link {
        font-size: 18px;
        
        p {
          font-size: 13px;
        }
      }
      .collapse {
        ol {
          li {
            margin-bottom: 30px;
          }
        }
        .skipped_cr{
          padding: 6px 17px;
          background-color:$employer_orange_light;
          
          img { height: 22px; }
          p {display: inline-block; margin-left: 5px; }
        }
        .time_taken {
          text-align: right;
          
          div {
            text-align: right; color: white; background: $employer_green; border-radius: 20px; display: inline-block; padding: 4px 10px;
          }
        }
      }
    }
  }
}

#account_table {
  padding-top:0; 
  padding:0 20px;
  
  table {
    .edit_user_details_link {
      text-align: right; 
      cursor: pointer;
      [data-tip]:before { left: 5px; }
      [data-tip]:after { left: -18px; }
      
      div {
        display: inline-block;
        
      }
    }
  }
}

#evaluation_manager{
  .aboutbox {
    .header {
      .controls {
        float: right; 
        position: relative;
        top: 97px;
        
        a {
          &:hover { text-decoration: none;}
          [data-tip]:before { left: 7px; }
          [data-tip]:after { left: -2px; }
          
          div {
            display: inline-block; 
            margin-right: 8px;
            position: relative;
            top: 15px;
          
            img {
              height: 25px;
              width: 25px;
              opacity: .7;
        
              &:hover { opacity: 1; }
            }
          }
        }
      }
    }
  }
  .body{
    table{
      th{
        .challenge_pic {
          width: 35px;
          height: 35px; 
          border-radius: 3px;
        }
      }
    }
  }
}


#order_confirmation { 
  .aboutheader {
    padding: 15px 0 0 15px;
    
    .text {
      display: inline-block; 
      vertical-align: top; 
      margin-top: 48px;
      
      h1 {
        font-size: 50px;
        display: inline-block;
        vertical-align: top;
      }
    }
    img { 
      height: 140px;
      vertical-align: baseline;
    }
  }
  .invite_box{
    text-align: center; margin: 20px 20px; border: 4px solid $employer_green; border-radius: 4px; background-color: $employer_green_light;
    
    div {
      display: inline-block; 
      padding: 12px 20px;
      text-align: left;
      
      h3 { font-size: 24px; }
      p { font-size: 15px; line-height: 20px; margin-top: 8px; }
      textarea { width: 360px; }
      button { margin-top: 37px; }
    }
  }
  .body {
    font-size: 15px; 
    h3 {
      
    }
    p {
      font-sie: 15px; 
      margin-top: 12px;
    }
    ul {
      margin: 15px 10px;
      list-style: none;
      
      li {
        margin: 16px 20px;
        line-height: 22px;
        
        .picture {
          width: 83px;
          margin-top: 7px;
          display: inline-block; 
          vertical-align: top; 
          img { }
        }
        .text {
            display: inline-block; 
            width: 86%;
          
            span { font-family: 'MuliRegular'; }
        }
      }
    }
  }
}

/* Evaluator */



#create_evaluation {
 
 h3 {
  margin-bottom: 0;  
  font-size: 25px;
 }
 
 .tips {
   margin: 0 auto 20px;
 }
 .button-xlarge { font-size: 22px;}
 
 .edit_eval_notice { 
   background-color: $employer_orange_light; 
   font-size: 15px; 
   padding: 15px 20px; 
   margin: 20px 20px 30px; 
   border: 4px solid $employer_orange; 
   border-radius: 4px;
 }
 .image_picker {
   tr{
     td {
       border-bottom: none;
       img {
         display: inline-block;
         height: 110px;
         width: 110px;
         margin: 5px 20px;
         
         &:hover { box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.48); }
         &:active { position: relative; top: 1px; }
         &.selected { 
           outline-color: rgb(91, 157, 217); 
           outline-offset: 0px; 
           outline-style: auto; 
           outline-width: 5px; 
           
           &:hover { box-shadow: none;}
         }
       }
     }
   }
 }
 .image_upload_toggle {
   font-size: 15px;
 }
 .evaluation_info{
   border: 4px solid $employer_green;
   background: $employer_green_light;
   border-radius: 4px;
   margin: 10px 0;
   padding: 18px 25px;
   text-align: left;
   
   span {
     position: relative;
     top: 5px;
     font-size: 20px;
     margin-right: 8px;
   }
   input{
     cursor: text;
     -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
     border: 1px inset;
     font-size: 16px;
     background-color: white;
     padding: 6px 14px;
     width: 82%;
   }
   div {
     margin: 12px 0 0 0;
   }
   p{
     font-size: 16px;
     display: inline;
     line-height: 21px;
   }
 }
 .challenge_chooser {
   display: inline-block;
   width: 40%; 
   margin:0 20px; 
   vertical-align: top;
   border: 1px solid rgb(172, 172, 172);
   padding: 12px;
   text-align: left;
   
   .challenges {
     .checklist {
       border: 1px solid #ccc;
       list-style: none;
       height: 170px;
       overflow: auto;
       margin: 0; 
       padding: 5px 0 0 0;
       
       li { margin: 0; padding: 0; }
       label { 
         display: block; padding: 5px 5px 5px 35px; text-indent: -25px;
         
         &:hover { background: $employer_green_light}
         
         input {margin: 0 5px 3px 0;}
       }
     }
       
     .radio {
       min-height: 0;
       padding: 0; 
     }
   }
   h5 {
     font-size: 16px; 
     border-bottom: 1px solid rgba(0,0,0,.1);
     display: inline-block;
     margin-bottom: 12px; 
    } 
  } 
}

#take_evaluation {
  padding: 24px; 
  
  h2{ font-size: 30px; border-bottom: 1px solid #DDD; }
  
  .opaque {
    opacity: .6;
  }
  .header {
    padding-bottom: 10px;  
    border-bottom: 1px solid #EEE;
    
    // We define the height and width of this h1 because we are using textfill on the element
    h1 { 
      vertical-align: middle;
      overflow: hidden; 
      
      &.take_eval { height: 59px; width: 826px; line-height: normal; margin-top: -10px; }
      &.submit_eval { height: 59px; width: 735px; line-height: normal; margin-top: -10px;}
      }
    h3 { vertical-align: middle; font-size: 30px; }
    
    .image_box, .text_box { display: inline-block; vertical-align: top; }
  }
  .body{
    h4 {font-size: 20px; text-align: center; margin: 20px 10px;}
    p {font-size: 15px;}
    
    table {
      margin: 25px auto -35px;
      text-align: left;

      tr.tiles {
        td {
          width:125px;
          height: 105px;
          padding: 5px 5px 25px 0;
          display: inline-block; 
          margin-right: 60px;
          margin-bottom: 40px;

          &:nth-child(4){ margin-right: 0; }
          .details { 
            h4 { font: 500 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 10%; margin: 9px 10px 10px 10px; }
            text-align: center; 
          }
          img { 
            height: 130px; 
            width: 130px;
          }
        }
      }
    }
  }
  
  .welcome{
    text-align: center; margin: 20px 20px 30px; border: 4px solid $employer_green; border-radius: 4px; background-color: $employer_green_light;
    
    .holder {
      border-bottom: 1px solid rgba(0,0,0,.1); padding: 14px;
      
      .image_box { 
        display: inline-block; text-align: left; width:11%;
        
        img { height: 100px; }
      }
      .text_box {
        display: inline-block; width: 86%; margin-left: 12px; vertical-align: top; text-align: left;
        
        h3 { font-size: 24px; }
        p { font-size: 15px; line-height: 20px; margin-top: 8px; }
      }
    }
  }
  .application_steps {
    margin: 20px; border-radius: 4px; padding: 12px;
    
    .step {
      margin-top: 40px;
      
      .img-circle {
        height: 45px; width: 45px; line-height: 45px; display: inline-block; background-color:rgba(109, 44, 13, 0.64); color: #FFEDEA;
        
        span{ display: block; float: left; font-size: 18px; text-align: center; width: 100%; }
      }
      .instructions { 
        display: inline-block; vertical-align: top; margin-left: 10px; padding-top: 2px; width: 92%;
        
        h4 { font-size: 24px; margin-bottom: 4px; }
        h5 { text-align: center; font-size: 15px; margin-top: 12px;}
        p { display: inline-block; margin-bottom: 0; position: relative; top: 1px; }
        form {
          margin-top: 25px;
          
          div {display: inline-block;}
          label {font-size: 15px;}
          
          .button { float: right; background: $employer_green; text-shadow: none;}
        }
        
        .challenge_holder{
          padding: 15px 3px; margin-top: 20px; text-align: center;
          
          .challenge_card {
            background-color: white; 
            text-align: center; 
            padding: 10px; 
            margin-right: 43px; 
            display: inline-block; 
            width: 180px; 
            height: 237px; 
            box-shadow: 0 0 10px 1px #DFDFDF;
            vertical-align: top;
            
            &:nth-child(3){margin-right:0;}
            &:nth-child(4){margin-top:30px; margin-left: 44px; }
            &:nth-child(5){margin-top:30px;}
            
            img { height: 120px; width: 120px; margin-top:25px; }
            h5 { border-bottom: 1px solid rgba(0,0,0,.1); margin: 15px 5px; font-size: 16px; }
            button { margin-bottom: 10px; }
            div {font-size: 24px; color: $employer_green; margin-top: 23px;}
          }
          
        }
        
        .signup{
          text-align: left;
          margin-top: 20px; 

          .button { width:185px; padding: 7px 12px 7px 7px; text-shadow: none; font-size: 13px;}
          .button img { height:30px; }
          .landingbuttontext { font-weight: regular; color: #636363;}
        }
      }
    }
  }
}

#organization_portal {
  padding: 8px 15px;
  
  .body{
    text-align: center;
    margin: 10px 0 0 0;
    padding: 20px;
    
    a {text-decoration: none; color: #333333;}
    
    .option {
      width: 49%;
      height: 150px;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      opacity: .8;
      
      &:hover { opacity: 1; }
      
      div { margin-top: 15%; }
      img { height: 40px; margin-bottom: 10px;}
      h3 {font-size: 20px;}
    }
    .signup{
      text-align: center;
      margin-top: -12px; 
      
      h3 {margin-bottom: 15px;}
      
      .button { width:185px; padding: 7px 3px 7px 1px; text-shadow: none; font-size: 13px; display: block; margin: 15px auto; }
      .button img { height:30px; }
      .landingbuttontext { font-weight: regular; color: #636363;}
      .text_field { margin-bottom: 3px; }
      .submit_button { width: auto; font-size: 14px; padding: 3px 10px; margin-bottom: 5px;}
    }
  }
}

.sales_help_modal, .enterprise_modal, .take_support_modal {
  .modal-header {
    border-radius: 6px 6px 0 0; 
    background-color: $employer_green_light;
    
    .stoney { height:65px; margin:-8px -4px -10px -5px; }
    .modal_close { margin-right: -4px; }
    h3 { display: inline-block; position: relative; top: 5px; }
  }
  .modal-body {
    max-height: none; font-size: 15px;
    p {line-height: 22px; }
    ul {
      list-style: none;
      li {
        line-height: 24px; 
        
        span { font-weight: bold; font-family: 'MuliRegular';}
      }
    }
  }
}