@font-face {
    font-family: 'MuliRegular';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-regular-webfont-webfont.eot');
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-regular-webfont-webfont.woff') format('woff'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-regular-webfont-webfont.ttf') format('truetype'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-regular-webfont-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
    font-family: 'MuliRegular';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-regular-webfont-webfont.svg') format('svg');

    }
}

@font-face {
    font-family: 'MuliItalic';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-italic-webfont-webfont.eot');
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-italic-webfont-webfont.woff') format('woff'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-italic-webfont-webfont.ttf') format('truetype'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-italic-webfont-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
    font-family: 'MuliItalic';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-italic-webfont-webfont.svg') format('svg');

    }
}

@font-face {
    font-family: 'MuliLight';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-light-webfont.eot');
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-light-webfont.woff') format('woff'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-light-webfont.ttf') format('truetype'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
    font-family: 'MuliLight';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/muli-light-webfont.svg') format('svg');

    }
}

@font-face {
    font-family: 'MuliLightItalic';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/Muli-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'MuliRegular', 'Helvetica', 'Arial'; }