@font-face {
    font-family: 'MuliRegular';
    src: url('https://moonlite.s3.amazonaws.com/static/Muli-Regular-webfont.eot');
    src: url('https://moonlite.s3.amazonaws.com/static/Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://moonlite.s3.amazonaws.com/static/Muli-Regular-webfont.woff') format('woff'),
         url('https://moonlite.s3.amazonaws.com/static/Muli-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuliItalic';
    src: url('https://moonlite.s3.amazonaws.com/static/Muli-Italic-webfont.eot');
    src: url('https://moonlite.s3.amazonaws.com/static/Muli-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://moonlite.s3.amazonaws.com/static/Muli-Italic-webfont.woff') format('woff'),
         url('https://moonlite.s3.amazonaws.com/static/Muli-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuliLight';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/Muli-Light.eot');
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/Muli-Light.woff') format('woff'),
         url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/Muli-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuliLightItalic';
    src: url('https://s3.amazonaws.com/moonlite-nsdub/static/Fonts/Muli-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'MuliRegular', 'Helvetica', 'Arial'; }