@import "variables.css.scss";

$landing_red: #dc7563;
$landing_yellow: #e3b164;
$landing_green: #73bb6e;

#landing {
  .container{ float: none; width: 980px; margin: 0 auto; }
  
  #holder1 {
    width: 980px; margin: 0 auto;
    
    #holder2 {
      overflow: hidden;
      
      #holder3 {
        position: relative; left: 0;width: 3000px; height: 100%;
        
        #main_slide {
          width: 980px; 
          float: left;
          padding: 50px 0 70px;
      
          .span7 {
            height: 286px; 
            text-align: center; 
      
            .hero{ 
              display: inline-block; 
              padding: 13px 0; 
              
              h1 {
                text-align: center; 
                font-size: 4.5em; 
                line-height: 1.25em; 
                padding-bottom: 34px; 
              }
              h3 { color: #8a8d99; }
            }
            .triangle{
              position: relative;
              float: right;
              bottom: 192px;
              left: 30px;
              display: inline-block;
              width: 0px;
              height: 0px;
              border-style: solid;
              border-width: 50px 0 50px 30px;
              border-color: transparent transparent transparent #ffffff;
            }
            h3 { width: 93%; margin: 0 auto; }
          }
          .span5{
            height: 286px; margin-left: 0;
            
            .consumer, .employer { height: 50%; padding: 0 10px;}
            .consumer { background-color: $landing_red;  }
            .employer { background-color: $landing_yellow; } 
            .option { 
              padding: 24px 20px; 
              color: white; 
      
              &:hover .button { box-shadow: 0px 0px 20px rgba(255, 255, 255, 1); }
              
              h4 {
                font-size: 1.6em; 
                margin-bottom: 10px; 
                color: white;
              }
              p {
                font-size: 15px; 
              }
            }
            .button { 
              padding: 5px 20px;
              height: 20px; 
              line-height: 20px;
              float: right; 
              background-color: #254972;
              border-width: 0;
              text-shadow: none; 
              color: white;
              font-family: 'MuliLight';
        
              &:active { position: relative; top: 1px; };
            }
            a { 
              color: inherit;
              &:hover {text-decoration: none ;} 
            }
          }
        }
      }
    }
  }
  
  
  #consumer_slide {
    width: 980px; 
    height: 286px;
    float: left;
    padding: 40px 0 0;
    text-align: center;
    
    .span12 {
      padding: 0 8px;
      
      .explore_link { float: right; }
      .back { float: left; font-size: 16px; margin-top: 6px;}
      .more { float: right; font-size: 16px; }
      
      img { display: inline; }
    }
    
    h3{
      color: inherit;
      margin-bottom: 26px;
    }
    ul {
      position: relative;
      list-style-type: none;
      margin: 0;
      
      [data-tip]:after { 
        width: 98px; 
        height: 37px; 
        left: -8px;
        top: -54px; 
        white-space: normal;}
      
      li {
        display: inline-block;
        float: left;
        height: 100px;
        width: 100px;
        padding: 15px 56px;
        &:nth-child(1) {padding-left: 0;}
        &:nth-child(5) {padding-right: 0;}
        &:nth-child(6) {padding-left: 0;}
        &:nth-child(10) {padding-right: 0;}
        
        img {
          height: 100px;
          width: 100px;
          
          &:hover { box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.48); };
        }
      }
    }
  }
  #happy_users {
    background-color: $landing_green;
    .holder {
      margin:10px auto; 
      padding: 10px 0; 
      color: white;
      
      .body {
        .testimonial {
          display: inline-block; 
          width: 33%; 
          margin: 15px 0; 
          text-align: center; 
          vertical-align: top;
          
          .speech {
            color: #404040;
            position: relative;
            width: 230px;
            padding: 15px; 
            text-align: center;
            background-color: #fff;
            border: 8px solid #666;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            margin-bottom: 50px;
          }
          .speech.right:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: 110px;
            top: 102px;
            border: 25px solid;
            border-color: #666 #666 transparent transparent;
          }
          .speech.right:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: 118px;
            top: 102px;
            border: 15px solid;
            border-color: #fff #fff transparent transparent;
          }
          .speech.left { float: right; }
          .speech.left:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 101px;
            top: 102px;
            border: 25px solid;
            border-color: #666 transparent transparent #666;
          }
          .speech.left:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 110px;
            top: 102px;
            border: 15px solid;
            border-color: #fff transparent transparent #fff;
          }
          .speech.center { margin: 0 auto 50px; }
          .speech.center:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: 85px;
            top: 102px;
            border: 48px solid;
            border-color: #666 transparent transparent transparent;
          }
          .speech.center:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: 99px;
            top: 102px;
            border: 34px solid;
            border-color: #fff transparent transparent transparent;
          }
          .bio {
            display: inline-block; 
            float: right; 
            margin-top: 25px; 
            width: 99px; 
            margin-left: 12px;
          }
          .picture { 
            display: inline-block; 
            float: right;
            
            img { height: 110px; width: 110px; }
          }
        }
      }
    }
  }
  #challenge_showcase{
    margin-bottom: 70px;
    
    .span12 {
      margin:10px auto; 
      height: 200px; 
      padding: 10px 0; 
      text-align: center; 
      
      .header {
        h3 { color: inherit; }
      }
    }
	  .body{
		  .carousel{
        margin: 35px 0 0 0;
        
        .left_scroll, .right_scroll {
          display: inline-block;
          vertical-align: top;
          margin-top: 50px;
          display: inline-block;
        }
        .inner {
          display: inline-block; 
          width: 910px; 
          overflow: hidden;
          
          ul {
            margin: 35px 0 0 0;
            position: relative;
            left: -218px;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: 9999px;
            padding-bottom: 10px;
		  	  }
          li {
            list-style-type: none; 
            display: inline-block; 
            float: left;
            list-style-type: none;
          }
          img{
            width: 150px; 
            height: 150px; 
          }
          .mosaic-block {
            height: 150px;
            width: 150px;
            box-shadow: none;
            margin: 0 37px;
            
            .background { text-align: left; }
            img { display:inline; }
          }
          .mosaic-overlay {
            left: 0;
          }
          .mosaic-backdrop {
            background: none;
          }
        }
		  }
	  }
  }
}