/* General/Revolution - this should always stay at the top */
pre.unstyled { padding: 0px; background-color: inherit; border: 0px; word-break:normal;}
.profile_dropdown li:hover { color: white; }
.navbar{ z-index:1010; }

/* Stream/Revolution */
.newsfeed h4{ margin:9px 10px 10px 10px; font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height:10%; letter-spacing:0.15em; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0); }
.newsfeed p{ margin:0 9px 2px 0; font:300 11px 'Lucida Grande', Tahoma, Verdana, sans-serif; color:#aaa;}
.newsfeed a { text-decoration:none; cursor:pointer; }
.post { padding:12px; }
.post:hover { background-color:#F9F9F9; border-radius: 4px; }
.postheader h3 { display:inline-block; margin: 0px; font-size:18px; line-height:36px; }
.challengename{font-size:12px; color: #999; margin-left:10px;}
.votingandpointsarea { display:inline-block; float:right; margin-top:4px; }
.votingandpointsarea a { padding: 2px 3px 1px 3px;}
.votingandpointsarea div { display: inline-block; margin: 0 1px 0 8px; position:relative; top:1px;}
.votingandpointsarea img{ position:relative; bottom: 2px; height:15px; width:15px;}
.points { font-style:italic; font-weight:bold; font-size:15px; position:relative; bottom:3px; margin-left:4px; }
.postphotospace { display:inline-block; vertical-align: top; margin-right:12px; }
.postspace{display: inline-block;  border-radius: 3px;  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);  background-color:white;  border: 1px solid #ccc;  margin:0 auto 0 auto;  position:relative;font:normal 13px arial, sans-serif;padding: 0 12px;width: 520px;}
.photo{ border-radius:4px; width: 50px; height: 50px; }
.username{ text-decoration: none; color:#005C1F; font-size:17px; }
.posttext { margin: -2px -12px 0 -12px; padding: 9px 12px; background-color:rgb(211, 241, 220); }
.posttext pre{padding: 0; margin:0; word-break: normal; background-color: inherit; border: none;}
.leveltext { font-weight: normal; }
.challengetext { font-weight: bold; text-decoration:none; color:black; display:inline; }
.enrolledminiimages { height:13px; width:13px; }
#miniposttext{ font:normal 10px arial, sans-serif; }
.newsfeed { border: 1px solid rgba(0, 0, 0, .1); border-radius: 6px; background-clip:padding-box; background-color:white; min-height: 550px; }
.CRarea { overflow-y:auto; background-color: transparent; background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -o-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .06)), to(transparent));background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: linear-gradient(top,rgba(0, 0, 0, .06),transparent); border-top: 1px solid rgba(0, 0, 0, .2); border-bottom: 1px solid rgba(0, 0, 0, .1); margin:12px -12px -7px -12px; }
.CRarea img { max-width: 100%; max-height: 350px; border-color:#ccc; border-style:solid; border-width: 0px; display:block; margin-left:auto; margin-right:auto; }
.obfuscation{ height:250px; background-color:whitesmoke; background-image:none; text-align: center; }
.obfuscation img{ margin-top:38px; }
.obfuscation a{ color:gray; }
.postfooter{ color:#999; font-size:11px; text-align: right; margin:0 -13px 0 0; position:relative; top:4px;}
.leftstuff { display:inline-block; margin: 4px 0 4px 0; height: 27px; width: 100%; padding-top: 5px; }
.leftstuff a { cursor:pointer; text-decoration:none !important; color: #004700; font-weight:normal; }
.leftstuff a:hover { text-decoration:underline; }
.posttimestamp{display:inline-block; top:10px; position:relative; }
.leftboxheader{background-color: #FCFCFC; border-top-right-radius: 5px; border-top-left-radius: 5px; padding:10px 12px; border-bottom: 1px solid #DDD; font-weight: normal; text-shadow: 0 1px 0 white; font-size: 11px; line-height: 16px; text-transform:uppercase;}
.leftbtn{margin-right:-7px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; margin-left:18px;}
.midbtn{margin-right:-7px; border-radius:0px;}
.rightbtn{border-top-left-radius: 0px; border-bottom-left-radius: 0px;} 
.leftboxheader a, .leftboxheader button{text-shadow: 0 1px 0 white; font-size: 11px; line-height: 16px; padding:3px 7px; font-weight:normal;}
.newsfeed>.leftboxheader{padding:6px 12px;}
.leftboxheader>div>.btn{text-transform:none;}
.commentphoto{ width:32px; border-radius:3px; }
.comments li{ margin-bottom:10px; overflow:hidden; padding-right:12px;}
code,pre{font:inherit;}
.social_toolbar a { text-decoration: none; }
.task_post h5 a:hover {  color: rgb(0, 204, 255); }

/* Progress/Revolution rails */
.singleprogressentry{ padding: 4px 0 9px 12px;}
.singleprogressentry:hover{background-color:#eee;}
.singleprogressentry:last-child{ padding-bottom:10px; }
.singleprogressentry:last-child:hover{ border-bottom-right-radius:6px; border-bottom-left-radius:6px;}
.singleprogressentry:first-child{padding-top:6px;}
.singleprogressentry>img{ height:50px; width:50px; display:inline-block; border-radius:3px;}
.personaprogress, .challengeprogress{ display:inline-block; position:relative; top:5px; margin-left:5px; }
.persona_progress_area{ display:inline-block; margin-left: -6px; width:95%; }
.personaprogress span{font-size: 11px;color: gray;}
.challengeprogress{ width: 74%; }
.personaprogress{ width:76%; }
.personaprogress .progress{ height:10px;}
.challengeprogress .progress{ height:10px;}

/* Other stuff/Revolution - organize by feature */
#topsection{ margin: 0; border: 1px solid rgba(0, 0, 0, .1);border-radius: 6px;position:relative;background-clip: padding-box; color:#333; background-color:white; margin-bottom:10px;}
#updatespace{ background-color: white; border-radius: 6px; padding: 12px 0 9px 13px; overflow: hidden;}
.bigheaderimage{ height:159px; width:159px; box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px; margin-right: 12px; border-radius:4px;}
.rightofbigheaderimage{ display:inline-block; width: 81%; float:right; }
#newuserbox{border: 1px solid rgba(0, 0, 0, .1);border-radius: 6px;position: relative;background-clip: padding-box;color: #333;background-color: white;margin-bottom: 12px; }
#newuserbox span{font-size:18px; padding:10px 0;}

#topboxcontent h1 { margin:0; line-height:28px; }
#topboxcontent h3 { margin-bottom:9px; font-style:italic; color:#666666; }
.userctrlpanel { display:inline-block; margin-top:-8px; right:-6px; position:relative; float:right; }
.userctrlpanel button { float:right; }
.userctrlpanel p { margin:31px 0 0 0; color:#404040; font-weight: bold; font-size:12px; }
.userctrlpanel span { font-size:11px; color:#404040; }
.challengecarousel{ display:inline-block; height: 78px; overflow: hidden; }
.inlinedisplay { list-style-type: none; position:relative; margin: 0; bottom:6px; overflow-x: hidden; height: 85px; }
.inlinedisplay li { display:inline; }
.bar2 .mosaic-overlay { bottom:-20px; height:40px; background-color: rgba(0, 0, 0, .8); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter:alpha(opacity=80); }
.bar2 .mosaic-overlay:hover { background-color: rgba(0,0,0,1); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); text-decoration: none; }
.mosaic-block {display:inline-block;  position:relative;overflow:hidden;width:200px;height:80px;margin-right:10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;}
.mosaic-backdrop {display:none;position:absolute;top:0;height:100%;width:100%;background:#111; box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;}
.clip_pic{height:200px;width:200px;margin-top:-45px;}
.mosaic-overlay {display:none;z-index:5;position:absolute;width:100%; height:100%; background:#111;}
.details h4{margin: 9px 10px 10px 10px;font: 300 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height: 10%;letter-spacing: 0.1em; color: rgba(255, 255, 255, .9);text-shadow: 1px 1px 0 black; font-weight:normal; }
.details h5{margin: 9px 12px; font: 300 11px 'Lucida Grande', Tahoma, Verdana, sans-serif; color: #AAA;}
.details button{padding:0px 4px; float:right; position:relative; right:6px; font-size:10px; font-weight:bold; opacity:1; color:white; }
.mosaic-overlay:hover .details>h4{color:white;}
.leftbox{text-shadow: 0 1px 0 white;border: 1px solid rgba(0, 0, 0, .1); font-size:12px;position: relative; margin-bottom: 10px;line-height: 16px; border-radius: 6px; display:block;}
.leftboxfooter{  background-color:whitesmoke; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 2px 10px 10px;}
.rank{ position: relative; top: 4px; }
#ranks { list-style: none; margin:0px; padding: 10px 0; }
#ranks li { padding: 2px 0 9px 12px; font:normal 15px arial, sans-serif; border-bottom: 1px solid rgb(235, 235, 235); color:gray;}
#ranks li:last-child { border-bottom-left-radius: 6px; border-bottom-right-radius:6px; }
#ranks img{ height:27px; width:27px; border-radius:3px; margin:4px 4px -3px 2px; }
#ranks .points{ margin: 12px 8px 0 0; }
.points{ float:right; font-style:italic; font-size:14px; }
.level{ font: bold 11px arial, sans-serif; position:relative; bottom:-4px; }
.name{ text-decoration:none; color:gray; font-size:12px; position:relative; bottom:-4px;}
.commentfeed { height:300px; width: 200px; border-radius: 4px; background-color:white; vertical-align:top; position:relative; left:337px; position:absolute; }
.span5{ display:inline-block; vertical-align: top; width:288px;}
.span11{ display: inline-block; vertical-align: top; width: 640px;} 
.row .span5{margin-left:20px;}
.row .span11{margin-left:12px;}
.container.body { margin-bottom:11px; border-radius:6px; width: 940px; padding: 15px; background-color: rgba(255, 255, 255, .3); border:none; box-shadow:none; }
#content { padding-top: 42px; min-height: 450px;}
.navitem span { color: white;text-shadow: 0 -1px 1px rgba(0,0,0,.75); margin-left: 7px;font-size: 14px;top: 3px;position: relative; }
.navbar a { color: #BFBFBF; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.navbar .nav > li > a { padding: 6px 13px; text-decoration: none;}
.navbar .nav.pull-right a:hover { color:white; }
.navbar .nav.pull-right .leftboxfooter a {text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);}
.nav.pull-right .caret{ border-top-color: #c7ced6; border-bottom-color: #c7ced6; color: #c7ced6; margin-top:7px; }
.navbar .nav.pull-right a:hover .caret{border-top-color:white; border-bottom-color:white; color:white;}
.navuser>div>a>.caret{ border-top-width: 5px; border-right-width: 5px; border-left-width: 5px; margin-left:1px;}
.navuser>div>a{ text-decoration:none; display: block;float: none;padding: 10px 10px;line-height: 19px;}
.landingbuttontext{color:white; font-size:13px; display:inline-block; position:relative; left:5px; font-family:'MuliRegular'; font-weight: bold;}


/* Profile/Revolution */
#homepage{color:#333;}
#topboxcontent{ width:729px; margin-top: 0px; }
#topboxcontent h1{ margin:0px; font-size:30px; display:inline; }
.profilepersonaicons{ list-style-type: none; margin:3px 0px 13px 0px; display:inline; margin-left:4px; }
.profilepersonaicons li{ display:inline-block; margin-right:8px; height:30px; width:30px; }
.profilepersonaicons img{ margin-right:8px; height:30px; width:30px; }
.leftrailcontent{ list-style-type: none; display:list-item; margin-top:3px; }
.leftrailcontent a:hover{text-decoration:none;}
.leftrailicon{ height:46px; width:46px; border-radius:3px; margin-right:3px; margin-top:5px; vertical-align:baseline;}
.leftbox{text-shadow: 0 1px 0 white; border: 1px solid rgba(0, 0, 0, .1);font-size:12px; position: relative; margin-bottom: 12px;line-height: 16px;border-radius: 6px; display:block;}
.leftboxfooter ul{ list-style-type:none; margin:0; }
.leftboxfooter span{ font-size:11px; color:gray; }
.singletaskentry{margin-bottom:6px;}
.singletaskentry > div{display:inline-block; width:92%;}
.singletaskentry img{vertical-align:top; width:14px;}
.leftboxfooter .accordion-group{ border-bottom: 1px solid #E5E5E5; border-top:none; border-right:none; border-left:none; border-radius:0; -webkit-border-radius: 0; -moz-border-radius: 0;}
.leftboxfooter .accordion-toggle{text-decoration:none; padding:8px 2px 1px 2px;}
.leftboxfooter .accordion-inner{padding:9px 15px 3px 15px;}
.leftboxfooter .accordion{margin-bottom:4px;}
.profile_challenge{ margin-left: 5px; margin-bottom: 12px; }
.profile_challenge a{ text-decoration:none; }
.challenge_progress{ display:inline-block; vertical-align:top; margin-left:4px; width:78%; color:gray; }
.challenge_progress h5{ line-height: 12px; font-weight:bold; margin-bottom:3px;}
.expand_contract{background-image: url(https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/plus.png); background-repeat:no-repeat; display:inline-block; width:11px; height:11px; vertical-align:middle; position:relative; bottom:2px; margin-right:2px; opacity:.8;}
.active_accordion .expand_contract{background-image: url(https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/minus.png); height:3px; }

/* Profile and challenge page carousels/Revolution */
#challengecarousel_container {margin-top:-18px; height:100px; border-bottom-left-radius:6px; border-bottom-right-radius:6px;}
#challengecarousel_inner { position:relative; top:6px; margin-left:12px; float:left; /* important for inline positioning */ width:672px; /* important (this width = width of list item(including margin) * items shown */ overflow: hidden;  /* important (hide the items outside the div) */}   
#challengecarousel_ul { position:relative; left:-224px; /* important (this should be negative number of list items width(including margin) */  list-style-type: none; /* removing the default styling for unordered list items */ margin: 0px;  padding: 0px;  width:9999px; /* important */ padding-bottom:10px; }   
#challengecarousel_ul li{ float: left; /* important for inline positioning of the list items */  width:200px;  /* fixed width, important */ padding:0px; height:80px; background: #000000; margin:6px 12px 10px 12px; }  
#challengeleft_scroll, #challengeright_scroll{ float:left; height:80px;  width:15px; }  
#challengeleft_scroll img, #challengeright_scroll img{ max-width:none; margin-top: 28px; width:25px; border:0; /* remove the default border of linked image */cursor: pointer; cursor: hand; }
#challengeright_scroll img{margin-left:6px;}

#carousel_container { background-color: whitesmoke; height:100px; border-bottom-left-radius:6px; border-bottom-right-radius:6px;}
#carousel_inner { margin-left:23px; float:left; /* important for inline positioning */ width:864px; /* important (this width = width of list item(including margin) * items shown */ overflow: hidden;  /* important (hide the items outside the div) */position:relative; }   
#carousel_ul { position:relative; left:-216px; /* important (this should be negative number of list items width(including margin) */  list-style-type: none; /* removing the default styling for unordered list items */ margin: 0px;  padding: 0px;  width:9999px; /* important */ padding-bottom:10px; }   
#carousel_ul li{ float: left; /* important for inline positioning of the list items */  width:200px;  /* fixed width, important */ padding:0px; height:80px; background: #000000; margin:10px 8px; }  
#left_scroll, #right_scroll{ float:left; height:80px;  width:15px; }  
#left_scroll img, #right_scroll img{ max-width:none; margin: 28px 0 0 10px; width:25px; border:0; /* remove the default border of linked image */cursor: pointer; cursor: hand; }
#left_scroll img {margin-left:10px;}
#right_scroll img{margin-left:1px;}

/* Arena/Revolution */
.counter {display:block;float:left;font-size:2em;line-height:1.2em; -webkit-box-reflect: below -15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255,255,255,0.3)));}
.counter span.digit {background:#161616;background: #3F3F3F; /* Old browsers */background: linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -o-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -moz-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -webkit-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -ms-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%); background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0A0A0A), color-stop(0.5, #2B2B2B), color-stop(1, #3F3F3F)); filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF0A0A0A', endColorstr='#FF3F3F3F'); /* IE6 & IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF0A0A0A', endColorstr='#FF3F3F3F')"; /* IE8 */zoom:1; background-clip:border; color:#FFF;display:block;float:left; height:44px;overflow:hidden; padding:0; position:relative;text-align:center;width:30px;}
.counter span.digit span {line-height:44px;position:relative;top:0;}
.counter span.digit hr {border-color: transparent;-webkit-box-shadow: inset 0 2px 1px  rgba(0,0,0,0.5);-moz-box-shadow: inset 0 2px 1px  rgba(0,0,0,0.5);box-shadow: inset 0 2px 1px   rgba(0,0,0,0.5);  height: 3px; margin: -2px 0 0 0;  position: absolute;top: 50%; width: 100%;z-index: 1;}
.counter span.separator {display:block;float:left; font-family:Georgia, serif; font-size:0.5em;position:relative; top:0.5em;}
.counter span.separator hr {display:none;}

.quizspace{background-color:white; margin:12px; border-radius:10px;border:1px solid rgba(0, 0, 0, .1);overflow:hidden; padding:12px;}
.quizheader{margin-bottom:12px;}
.quizheader img{display:inline-block; margin-right:4px; border-radius:3px;}
.quizheader span{ font:normal 29px'MuliRegular', sans-serif; position:relative; left:5px;}
.quizheader div{position:relative; top:4px; display:inline-block;}
#progressbar{width:632px; height: 40px; margin: 0 auto;}
.questionandresponsespace{display:inline-block; }
.questionspace span{font:normal 18px 'MuliRegular', sans-serif;}
.questionspace pre{padding: 0; margin:0; word-break: normal; background-color: inherit; border: none;}
.pointbar { background-color: rgba(255, 163, 102, 0.5); height:20px; margin:3px 0px; border-radius: 3px; text-align: center; }
.pointbarfiller { line-height: 20px; width: 100%; border-radius: 3px; height: 20px; padding-left: 3px; background-color: #FFA366; color: #404040; float: left; }
.nextbutton{float:right;}
.responsespace{margin-top:8px;}
.responsespace li{background-color: #F9F9F9; padding:5px 8px; border-radius:6px; margin-bottom:5px; cursor:pointer;border:1px solid rgba(0, 0, 0, .1) }
.responsespace li:hover{background-color:whitesmoke; border:1px solid rgba(0, 0, 0, .1);}
.pointsandstreakspace{margin:25px 0 0 25px; border:1px solid rgba(0, 0, 0, .1);vertical-align: top; padding:9px; border-radius:6px; width:241px; background-color:#F9F9F9;}
.pointspace{display:inline-block; text-align:center;}
.streakspace{display:inline-block; text-align:center; margin-left:25px;}
.counterbox{border:1px solid rgba(0, 0, 0, .1); background-color:white; border-radius:4px; padding: 7px 7px 0;}
.messagespace{margin:12px 9px 0 37px; font-size:15px; word-wrap:normal; width:240px; font-weight:bold;}

.CRquizspace {background-color:white; margin:12px; border-radius:10px;border:1px solid rgba(0, 0, 0, .1);overflow:hidden; padding:12px; min-height:300px;}
.label.notice {font-size:13px; float:right; margin:2px 6px 0 0; background-color:#3A87AD}
#CRprogressbar {width:632px; height: 40px; margin: 0 auto;}
.CRquestionspace {width:40%; display:inline-block; padding-top:9px;}
.cr_question_header {font:bold 15px 'MuliRegular', sans-serif;}
.CRquestion {font-size:15px; padding: 0; margin: 10px 5px 0 0; word-break: normal; background-color: white; border: none; font: normal 18px 'MuliRegular', sans-serif;} 
.CRresponsespace {display:inline-block;background-color:#F9F9F9;border-radius: 6px; vertical-align: top; padding:9px; border:1px solid rgba(0, 0, 0, .1);font:bold 18px 'MuliRegular', sans-serif;width:56.5%;}
.CRresponsespace textarea {display:block; margin:6px 12px 12px 12px; width:94%;}
.CRbuttonspace {margin-top:12px; }
.input input{background-color: #F9F9F9;}
#report_issue_modal.modal.fade {  background-color: transparent; border: 0; box-shadow: 0 0 0; }
.explorebody .radio{padding-left:35px;}

#topsection { border: 1px solid rgba(0, 0, 0, .1); border-radius: 6px; position:relative; background-clip: padding-box; color:#333; background-color:white; margin-bottom:12px; }
.headerspace { text-shadow: 0 1px 0 white; padding: 12px 0 12px 12px; font:bold 11px arial, sans-serif; text-transform: uppercase; border-bottom: 1px solid #DDD; border-top-left-radius: 6px; border-top-right-radius: 6px; background-color: #FCFCFC;}
#carouselupdatespace {background-color: whitesmoke;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;padding: 16px 0 3px 12px; }
.inlinedisplay { list-style-type: none; position:relative; margin: 0; }
.inlinedisplay li{ display:inline; }

.explorecontainer { overflow: hidden; margin-left: auto; margin-right: auto; width: 700px; margin-top: 0px; }
.explorenewusercontent { background-color: white; overflow: hidden; border-radius:6px; border: 1px solid rgba(0, 0, 0, .1); margin: 12px; box-shadow: 0 0 30px 12px #888; }
.exploreheader{ margin:0px; width:669px;padding:12px 0 5px 12px; background-color:#F9F9F9;}
.exploreheader span{font: normal 21px 'MuliRegular', sans-serif;}

.personatiles{ margin-top:18px;}

.challengetiles{ margin-top:18px; padding: 0 16px 18px 16px;}
.challengetiles .bar2 .mosaic-overlay, .aboutbody .bar2 .mosaic-overlay { bottom:-28px; height:48px;}
.challengetiles .mosaic-block, .aboutbody .mosaic-block {width:130px; height:130px; margin-right:35px;}
.challengetiles .bigexploreimagespace{display:inline-block; vertical-align: top;}
.challengetiles .bigexploreimagespace img{width:120px; margin-right:10px}

.singleexploretile{display:inline-block; padding:0 25px 0 21px;}
.singleexploretile img{padding:6px 0 8px 0; max-width:none;}
.singleexploretile a{margin:2px; text-decoration:none;}
.singleexploretile a:hover img{border:2px solid rgba(51, 153, 255, 0.5); border-radius:4px; margin:-2px}
.singleexploretile .active img{border:2px solid rgba(51, 153, 255, 0.5); border-radius:4px; margin:-2px; background:whitesmoke;}
.exploretileimage img:focus{border-radius:4px; width:85px; }
.exploretiledetailsarea       { border: 1px solid rgba(0, 0, 0, .1); border-radius:10px; padding:10px; background-color:whitesmoke; margin:0 21px 11px 21px;}
.exploretiledetailsarea .bigexploreimagespace         { display:inline-block; vertical-align: top;}
.exploretiledetailsarea .bigexploreimagespace img     { align:left; width:120px; margin-right:10px}
.exploredetailsspace          { display:inline-block; width:473px;vertical-align: top;}
.exploredetailsspace button   { margin-top:10px}
.exploretextdetails h2        { font-size:23px; font-weight:bold; font-style:italic;}

/* modal/help close button/Revolution*/
.exploreheader>.modal_close{ margin: -8px 6px 0 0; }
.modal_close, .help_close { float:right; cursor:pointer;}
.modal_close, .help_close img{ width:20px; height: inherit;}
.help_close { margin: 4px 0 0 0; }

.login_link { cursor: pointer; }

.counter {display:block;float:left;font-size:2em;line-height:1.2em; -webkit-box-reflect: below -15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255,255,255,0.3)));}
.counter span.digit {background:#161616;background: #3F3F3F; /* Old browsers */background: linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -o-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -moz-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -webkit-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);background: -ms-linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%); background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0A0A0A), color-stop(0.5, #2B2B2B), color-stop(1, #3F3F3F)); filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF0A0A0A', endColorstr='#FF3F3F3F'); /* IE6 & IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF0A0A0A', endColorstr='#FF3F3F3F')"; /* IE8 */zoom:1; background-clip:border; color:#FFF;display:block;float:left; height:44px;overflow:hidden; padding:0; position:relative;text-align:center;width:30px;}
.counter span.digit span {line-height:44px;position:relative;top:0;}
.counter span.digit hr {border-color: transparent;-webkit-box-shadow: inset 0 2px 1px  rgba(0,0,0,0.5);-moz-box-shadow: inset 0 2px 1px  rgba(0,0,0,0.5);box-shadow: inset 0 2px 1px   rgba(0,0,0,0.5);  height: 3px; margin: -2px 0 0 0;  position: absolute;top: 50%; width: 100%;z-index: 1;}
.counter span.separator {display:block;float:left; font-family:Georgia, serif; font-size:0.5em;position:relative; top:0.5em;}
.counter span.separator hr {display:none;}

body{background-image: url('https://s3.amazonaws.com/moonlite-nsdub/static/easterislandsketch70pct.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:100% 100%;font-family: 'MuliRegular', sans-serif; line-height:18px; font-size:13px;}
.quizcontainer{overflow:hidden; width:768px;margin-left:auto;margin-right:auto;margin-top: 60px; border-radius:6px;border: 1px solid rgba(0, 0, 0, .1);background: rgba(255, 255, 255, .8); }
#progressbar{width:632px; height: 40px; margin: 0 auto;}
.completionmessagespace{display:inline-block; width:396px;overflow: hidden; border-right:1px solid rgba(0, 0, 0, .1);}
.completionmessagespace a{ text-decoration:none; }
.completionheader{ margin-left: 12px; }
.completionheader span{font:normal 29px 'MuliRegular', sans-serif;}
.completionsubheader{margin-left:12px; font-size:16px}
.completionstats{margin:12px 12px 0 12px; font-size:13px; font-style: italic; border: 1px solid rgba(0, 0, 0, .1); padding: 6px 9px 0 9px; border-radius: 6px; background-color: #F9F9F9;}
.completionstats img{display:inline-block; width:40px; margin-left:6px; vertical-align: top; }
.completionnextsteps{margin:0 0 10px 8px; height:151px; word-wrap:normal; width:289px; font-size:14px; border: 1px solid rgba(0, 0, 0, .1); padding: 0 9px; border-radius: 6px; background-color: #E5F5EA;}
.completionnextsteps ul{}
.completionnextsteps p{text-indent:15px;}
.completionnextsteps a{font-style: italic; }
.completionnextsteps span{font-size:18px; line-height:36px;}
.social_toolbar img {height:20px; margin:0 2px; position:relative; top:2px; vertical-align:baseline; width:20px;}
.socialiconholder{position:relative; margin-left:292px; bottom:6px;}
.quizspace button{float:right;}

/*cr completion page/Revolution */
.completioncontent{margin: 12px;font-size: 13px;border: 1px solid rgba(0, 0, 0, .1);padding: 9px 9px 0 9px;border-radius: 6px;background-color: #F9F9F9;}
.completioncontent h4{display:inline;}
.completioncontent ul{margin-left:43px; margin-top:3px;}
.completioncontent li {line-height:25px;}

.pull-right>.dropdown-toggle>img{opacity:.8;}
.pull-right>.dropdown-toggle:hover img{opacity:1;}
.pull-right>.dropdown-toggle:focus img{opacity:1;}
.notifications_bubble{opacity:1; background-color: #F56C7E;height: 16px;width: 16px;background: #F56C7E url(https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/notification_bubble_background.png) no-repeat center center scroll;position: absolute;right: 0px;top: 7px;color: white;text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);text-align: center;font-size: 9px;line-height: 17px;box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);-moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);border-radius: 13px;cursor: pointer;display: inline;}
.notifications_header{ border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.notification_space { padding: 12px 12px 0px 12px; }
.notification { display: inline-block;  border-radius: 3px;  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);  background-color:white;  border: 1px solid #ccc;  margin:0 auto 0 auto;  position:relative; font-size:13px; width: 270px; padding: 8px;}
.notification-unread { background-color: #EEE; }
.notification:hover { background-color: #EEE; }
.notification_body { margin: 0; text-decoration: none; color: #404040; font-size: 12px; width: 230px; float: right; text-shadow:none; line-height:17px;}
.notification_time { margin: 7px 2px 0 0; font-size: 11px; float: right; text-shadow:none; cursor:default; color: #BBB; line-height: 5px;}
.nub { background-image: url(https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/notification_arrow_gray.png); background-repeat: no-repeat; background-size: auto; position:absolute; height:11px; width:20px; top:-11px; left: 185px;}
.sidenub { background-image: url(https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/notification_arrow_all_gray.png); background-repeat: no-repeat; background-size: auto; position:absolute; height:20px; width:11px; top:27px; left: -11px;}
.graynub{ background-image: url(https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/notification_arrow_post_gear_dropdown.png); background-repeat: no-repeat; background-size: auto; position:absolute; height:11px; width:20px; }
.CR_dropdown_option{width: 95%; padding: 3px;}
.leveltext .dropdown-menu{top:-20px !important;}
.dropdown-menu .CR_dropdown_option a{padding: 0px 9px 0px 3px;}

.button { margin-bottom: 0px; margin-top: 0px; vertical-align: middle; display: inline-block; text-shadow: 0 1px 0px black; color: white;  padding: 7px 20px 5px 20px; cursor: pointer; font-size: 15px; border:1px solid #DDD; border-radius: 3px; }
.button.button-small { font-size: 12px; padding: 5px 15px 4px 15px; }
.button.button-xlarge { font-size: 24px; line-height: 30px; font-weight: lighter; }
.button.button-xlarge:hover { box-shadow: 0px 0px 5px black; }
.button.button-large { font-size: 18px; line-height: 24px; font-weight: lighter; }
.button.button-large:hover { box-shadow: 0px 0px 3px black; }
.button.button-actionable { background-image: -moz-linear-gradient(top, #ee5f5b, #971D1C);background-image: -ms-linear-gradient(top, #ee5f5b, #971D1C);background-image: -o-linear-gradient(top, #ee5f5b, #971D1C);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#971D1C));background-image: -webkit-linear-gradient(top, #ee5f5b, #971D1C);background-image: linear-gradient(top, #ee5f5b, #971D1C); filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ee5f5b', EndColorStr='#971D1C'); /* IE6,IE7 */ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ee5f5b', EndColorStr='#971D1C')"; /* IE8 */}
.button.button-info { background-image: -moz-linear-gradient(top, #5BC0DE, #339BB9);background-image: -ms-linear-gradient(top, #5BC0DE, #339BB9);background-image: -o-linear-gradient(top, #5BC0DE, #339BB9);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#339BB9));background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);background-image: linear-gradient(top, #5BC0DE, #339BB9); filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5BC0DE', EndColorStr='#339BB9'); /* IE6,IE7 */ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5BC0DE', EndColorStr='#339BB9')"; background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1NjEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM1QkMwREUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzMzlCQjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1NjEpIiAvPgo8L3N2Zz4=);}
.button.button-standard { background-image: -moz-linear-gradient(white, white 5%, #E6E6E6);background-image: -ms-linear-gradient(white, white 5%, #E6E6E6);background-image: -o-linear-gradient(white, white 5%, #E6E6E6);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(0.05, white), to(#E6E6E6));background-image: -webkit-linear-gradient(white, white 5%, #E6E6E6);background-image: linear-gradient(white, white 5%, #E6E6E6); color: rgb(75, 75, 75); text-shadow: 0 1px 0px whitesmoke; filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#E6E6E6'); /* IE6,IE7 */ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#E6E6E6')";}
.button.button-standard:hover { color: black; }
.button:hover { box-shadow: 0px 0px 1px black; text-decoration: none; color: white; }
h1, h2, h3, h4, h5, h6, p, div, span, a { font-family: 'MuliRegular'; font-weight: lighter; }
.button.disabled { opacity: 0.70; box-shadow: 0px 0px 1px black; }

.intcontainer{overflow:hidden; width:695px;margin-left:auto;margin-right:auto;margin:100px auto 200px auto; border-radius:6px;border: 1px solid rgba(0, 0, 0, .1);background: rgba(255, 255, 255, .8); }
.firstchallengeint{background-color:white; margin:12px; border-radius:10px;border:1px solid rgba(0, 0, 0, .1);overflow:hidden;}
.firstchallengeintheader{ margin:0px; width:669px;padding:12px 0 5px 12px; background-color:#F9F9F9;}
.firstchallengeintheader span{font: normal 23px 'MuliRegular', sans-serif; position: relative; bottom: 1px;left:3px}
.firstchallengeintcontent{padding:12px; }
.firstchallengeintcontent>ul{list-style: none; margin:0 0 0 2px;}
.firstchallengeintcontent>ul>li{line-height:17px; padding:0 0 10px 0; }
.firstchallengeintcontent>ul>li>img{display:inline; height:18px;margin-right:5px; position:relative; top:2px;}
.inttitle{font-weight:bold; font-size:18px; color:#404040;}
.intdetails{margin-left:28px; display:inline-block;}
.firstchallengeint>button{float:right; margin: 0 12px 12px 12px;}

.introintcontent{padding:12px; }
.introintcontent>ul{list-style: none; margin:0 0 0 2px;}
.introintcontent>ul>li{line-height:17px; padding:0 0 10px 0; }
.introintcontent>ul>li>img{display:inline; height:35px;margin-right:5px; position:relative; top:19px; opacity:.8; vertical-align:baseline;}
.introintcontent>ul>li>.inttitle{}
.introintcontent>ul>li>.intdetails{margin-left:45px;}
.dropdown_modal.modal.fade { width: 100%; top: 0%; background-color: transparent; border: 0; box-shadow: 0 0 0; margin-left: auto; margin-right: auto; left: inherit; margin-top: 0px; }

/* Create and Administer/Revolution */
.single_pane { padding: 15px; background-color: white; border-radius: 4px; min-height: 400px;}
.pills a { line-height: 23px; cursor: pointer }

/* Footer/Revolution */
.footer{height:20px; margin-bottom: 6px; text-align:center; color:#8D8D8D; position:absolute; bottom:inherit; width:100%;}
.copyright{}
.footerlinks{}
.footerlinks a{text-decoration: none; color:#707070}
.feedback_tab{ background-image: url(https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/feedback_bubble.png); padding:3px; border-top-width: 1px;border-right-width: 1px;border-left-width: 1px;border-style: solid solid none;border-top-color: rgb(255, 255, 255);border-right-color: rgb(255, 255, 255);border-left-color: rgb(255, 255, 255);border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;-webkit-box-shadow: rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0px 1px 2px;box-shadow: rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0px 1px 2px;font-style: normal;font-variant: normal;font-weight: bold;font-size: 14px;line-height: 1em;font-family: Arial, sans-serif;position: fixed;right: 10px;bottom: 0px;z-index: 9999;background-color: rgb(64, 64, 64);margin-bottom: 0px;display: block;background-position: 0px 50%;background-repeat: no-repeat no-repeat;}
.feedback_tab a{ background-color: transparent;display: block;padding: 6px 10px 2px 42px;text-decoration: none; color:white; cursor:pointer; font-size:15px; }

/* About/Revolution */
.aboutcontainer{margin-top:85px; margin-bottom:10px; overflow:hidden; width:695px;margin-left:auto;margin-right:auto;border-radius:6px;border: 1px solid rgba(0, 0, 0, .1);background: rgba(255, 255, 255, .8); }
.aboutbox{background-color:white; margin:12px; border-radius:10px;border:1px solid rgba(0, 0, 0, .1);overflow:hidden; padding:20px 20px 5px 20px;}
.aboutheader span{font-size:50px; position:relative; bottom:42px;}
.aboutheader img{height:115px; vertical-align:baseline;}
.aboutheader{margin: -4% -2.8% -2.8%;}
.aboutbody{overflow: hidden; padding-top:1%;}
.aboutbody p{font-size:14px; line-height:20px;}
.aboutbody span{font-size:11px; line-height:18px;}
.aboutbody h4{font-weight:bold; line-height:32px; font-size:16px}
.challengeset{margin-bottom:5px;}
.challengepagechallenge:nth-child(3n){margin-right:33px;}
.challengepagechallenge:nth-child(4n){margin-right:0px;}

/* Popover -- guided help/Revolution */
.popover{background-color: #FFECBD;border-width: 10px;border-style: solid;border-color: #FDD05B; z-index:1001;}
.popover.left .arrow{right:-20px; border-left-color:#FDD05B;}
.popover.right .arrow{left:-20px; border-right-color:#FDD05B;}
.popover.bottom .arrow{top:-20px; border-bottom-color:#FDD05B;}
.popover.left .arrow:after {border-left-color: #FDD05B;}
.popover.right .arrow:after {border-right-color: #FDD05B;}
.popover.bottom .arrow:after {border-bottom-color: #FDD05B;}
.popover-content p{color:#404040; margin:0; font-size:13px;}
.popover-content{padding:6px 6px 3px 6px;}
.popover{width:150px;}
.popover-close{float:right;margin-right: 5px;font-size: 11px;text-shadow: none;}
.popover-close:after{content:"Close";}
.postspace>.popover {top:32% !important;}
.explorebody .popover{width:300px;}
.explorebody .popover-title{display:none;}

.highlighted { -moz-box-shadow: inset 0px 0px 20px 0px whiteSmoke; -webkit-box-shadow: inset 0px 0px 20px 0px whiteSmoke; box-shadow: inset 0px 0px 20px 0px whiteSmoke; }
.mb-tooltip{height:17px; width:16px; background-image:url('https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/question_mark_tooltip.png'); margin-bottom:-3px; display:inline-block; cursor:pointer;}

/* FF specific CSS/Revolution */
@-moz-document url-prefix() {
	.persona_progress_area img{vertical-align:baseline; position:relative; top:8px;}
	.singleprogressentry img{vertical-align:baseline;}
}


/* notifications panel/Revolution */
.notificationpanelbody {padding-top:0; padding:0 20px;}
.notificationpanelbody h4 {font-weight: bold;line-height: 32px;font-size: 18px;}
.settingsmanagementarea{display: block;padding: 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 20px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc;border: 1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.settingsmanagementarea h5{font-size:15px; display:inline-block;}
.settingsmanagementarea .control-group{display:inline-block; margin:0; padding:0;position: relative; bottom:3px; float:right;}
.settingsmanagementarea .control-label{font-weight:bold; padding:0; margin:0; position:relative; top:3px; }
.settingsmanagementarea>div{margin-bottom:15px; }

/* Edit Profile/Revolution */
.editprofilemanagementarea{display: block;padding: 15px 9.5px 4.5px 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 20px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc;border: 1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.editprofilemanagementarea .control-group{display:inline-block; margin:0; padding:0;position: relative; bottom:3px;}
.editprofilemanagementarea control-label{font-weight:bold; padding:0; margin:0; position:relative; top:3px; }

/* Idea page/Revolution */
.ideas_header { vertical-align: middle; border-radius:6px; background-color:white; padding:10px 12px; margin-bottom:12px; border: 1px solid rgba(0, 0, 0, .1);}
.ideas_header img { height:115px; }
.ideas_header h1 {font-size:50px; display:inline-block; position: relative; top: 11px; }
.ideas_header h4 { font-weight:bold; line-height:32px; font-size:16px }
.ideas_body { border-radius: 4px; background-color: white; padding-bottom: 10px; border: 1px solid rgba(0, 0, 0, .1);}
.ideas_list { background-color:white; min-height:200px; border-bottom-right-radius:6px; border-bottom-left-radius:6px; }
.idea_box { background-color: #F9F9F9; border: 1px solid #ccc; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, .05); border-bottom: 1px solid #DDD; margin: 20px; padding:12px 12px 6px 12px; }
#ideapage .postfooter .leftstuff { padding-top: 0px; height: 20px; }
#ideapage .postfooter { margin: 0; }
#ideapage .leftboxheader {margin-bottom:-7px;}
#ideapage .leftboxheader span{text-transform:none;}
#ideapage .leftboxheader a{text-decoration:none; text-transform:none; cursor:pointer;}
.submit_idea .help-block {font-size:16px;}
.submit_idea>h2 {margin-bottom:20px;}
.submit_idea_tips {display:inline-block; margin: 52px 0 0 50px; vertical-align:top; width:400px; border-left: 1px solid #E7E7E7; padding-left:10px;}
.submit_idea_tips ul {font-size:16px; margin-top:10px;}
.submit_idea_tips li {margin-bottom:10px;}
.submit_idea_tips h3 {font-size:23px; }
.ideacontent {width:85%;}
.ideacontent h4 a {margin-bottom: 10px;font-weight: bold;font-size: 16px;}
.ideacontent pre {margin: 0;padding: 0;border: none;background-color: inherit; font-size:14px; word-break:normal;}

/* Challenge creator/Revolution */
h3 { font-size: 28px; }
.action_group { margin-bottom: 40px; }
.action_group h3 { margin: 0 0 15px 0; }
.tips { width: 400px; margin: 5px auto; }
.tips h5 { display: inline-block; width: 370px; }
.tips img { position:relative; bottom:2px; display: inline-block; height: 18px; width: 18px; }
.template_image { width: 60px; height: 60px; }
.action_group .image_preview { width: 200px; height: 200px; max-width: 200px; }

/* Signed Out Challenge page/Revolution */
.challenge_stats{float:right; font-size:13px;position:relative; bottom:7px;}
.challenge_stats ul{list-style:none;}
.challenge_stats li{line-height:15px;}
.challenge_stats span{font-weight:bold; }

/* New Image/Revolution */
.image_preview { height: 70px; max-width: 150px; } 
