/* Stream */
.newsfeed h4{ margin:9px 10px 10px 10px; font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height:10%; letter-spacing:0.15em; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0); }
.newsfeed p{ margin:9px 12px; font:300 11px 'Lucida Grande', Tahoma, Verdana, sans-serif; color:#aaa;}
.newsfeed a { text-decoration:none; }
.post { padding:12px; }
.post:hover { background-color:#F9F9F9; border-radius: 4px; }
.post:hover .postspace{ background-color:#F9F9F9; border-radius: 4px; }
.postheader h3 { display:inline-block; }
.votingandpointsarea { display:inline-block; float:right; margin-top:4px; }
.votingandpointsarea a { padding: 2px 7px 0 7px; }
.votingandpointsarea div { display: inline-block; }
.btn div { margin: 0 1px 0 8px; position:relative; bottom:3px; }
.points { font-style:italic; font-weight:bold; font-size:15px; position:relative; bottom:3px; margin-left:4px; }
.postphotospace { display:inline-block; vertical-align: top; margin-right:12px; }
.postspace{
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
  background-color:white;
  border: 1px solid #ccc;
  margin:0 auto 0 auto;
  position:relative;
  font:normal 13px arial, sans-serif;
  padding: 0 12px;
  width: 520px;
}
.photo{ border-radius:4px; width: 50px; height: 50px; }
.username{ text-decoration: none; color:#005C1F; font-size:17px; }
.posttext { margin: -2px -12px 0 -12px; padding: 3px 12px; background-color:#E5F5EA; }
.leveltext { font-weight: bold; }
.challengetext { font-weight: bold; text-decoration:none; color:black; display:inline; }
.enrolledminiimages { height:13px; width:13px; }
#miniposttext{ font:normal 10px arial, sans-serif; }
.newsfeed { border: 1px solid rgba(0, 0, 0, .1); border-radius: 6px; background-clip:padding-box; background-color:white; }
.CRimage { max-width:548px; max-height:300px; border-color:#ccc; border-style:solid; border-width: 0px; display:block; margin-left:auto; margin-right:auto; }
.crarea { background-color: transparent; background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),transparent); border-top: 1px solid rgba(0, 0, 0, .2); border-bottom: 1px solid rgba(0, 0, 0, .1); margin:12px -12px -7px -12px; }
.obfuscation{ height:250px; background-color:whitesmoke; background-image:none; text-align: center; }
.obfuscation img{ margin-top:38px; }
.obfuscation a{ color:gray; }
.postfooter{ color:#999; font-size:11px; text-align: right; margin-bottom:-6px; }
.postfooter{ text-align: right; margin-right:-13px; }
.leftstuff { float:left; }
.leftstuff a { cursor:hover; text-decoration:none; color: #004700; }

/* Other stuff - organize by feature */
#topsection{
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    position:relative;
    background-clip: padding-box;
    color:#333;
    background-color:white;
    margin-bottom:10px;
    
}
#updatespace{ background-color: white; border-radius:6px; padding: 12px 0 9px 13px; overflow: hidden; }
.bigheaderimage{ height:160px; width:160px; box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px; margin-right: 12px; border-radius:4px;}
.rightofbigheaderimage{ display:inline-block; }

#topboxcontent h1 { margin:0px; line-height:28px; }
#topboxcontent h3 { margin-bottom:9px; font-style:italic; color:#666666; }
.userctrlpanel { display:inline-block; margin-top:-5px; float:right; }
.userctrlpanel button { float:right; }
.userctrlpanel p { margin:31px 0 0 0; color:#404040; font-weight: bold; font-size:12px; }
.userctrlpanel span { font-size:11px; color:#404040; }
.challengecarousel{ display:inline-block; }
.inlinedisplay { list-style-type: none; position:relative; margin: 0; bottom:6px;}
.inlinedisplay li { display:inline; }
.bar2 .mosaic-overlay { bottom:-20px; height:40px; opacity:0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter:alpha(opacity=80); }
.bar2 .mosaic-overlay:hover { opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); text-decoration: none; }
.mosaic-block {
  display:inline-block;
  position:relative;
  overflow:hidden;
  width:200px;
  height:80px;
  margin-right:10px;
  background:#111 url(../img/progress.gif) no-repeat center center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}
.mosaic-backdrop {
  display:none;
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  background:#111;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}
.mosaic-overlay {
  display:none;
  z-index:5;
  position:absolute;
  width:100%;
  height:100%;
  background:#111;
}
.leftbox{
  text-shadow: 0 1px 0 white;
  border: 1px solid rgba(0, 0, 0, .1);
  font-size:12px;
  position: relative;
  margin-bottom: 10px;
  line-height: 16px;
  border-radius: 6px; 
  display:block;
}
.leftboxheader{
  background-color: #F9F9F9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding:10px 12px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}
.leftboxfooter{
  background-color:whitesmoke;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 12px;
}
#ranks { list-style: none; margin:0px; }
#ranks li { padding: 2px 0 7px 12px; font:normal 15px arial, sans-serif; }
#ranks li:last-child { border-bottom-left-radius: 6px; border-bottom-right-radius:6px; }
#ranks img{ height:27px; width:27px; border-radius:3px; margin:4px 4px -6px 2px; }
#ranks .points{ margin: 12px 8px 0 0; }
.points{ float:right; font-style:italic; font-size:14px; }
.level{ font: bold 11px arial, sans-serif; }
.name{ text-decoration:none; color:gray; }
.commentfeed { height:300px; width: 200px; border-radius: 4px; background-color:white; vertical-align:top; position:relative; left:337px; position:absolute; }
.span5{ display:inline-block; vertical-align: top; }
.span11{ display: inline-block; vertical-align: top; }
.container.body { width: 940px; padding: 15px; }
#content { padding-top: 55px; }
