$divider: "https://s3.amazonaws.com/moonlite-nsdub/static/divider.png";

$landing_red: #dc7563;
$landing_yellow: #e3b164;
$landing_green: #73bb6e;

$employer_blue: rgba(36, 72, 109, 0.8);
$employer_orange: rgba(126, 78, 54, 0.78);
$employer_green: rgba(114, 153, 89, 0.88);
$employer_orange_light: rgba(212, 152, 123, 0.14);
$employer_orange_light_opaque: rgba(212, 152, 123, 0.5);
$employer_green_light: rgba(150, 201, 117, 0.27);