<li>
	<span>
		<%= link_to achievement.name, achievement %>
	</span></br>
	<span>
		<%= achievement.description %>
	</span>
	<span>
		<%= achievement.criteria %>
	</span>
	<span>
		<%= achievement.points %>
	</span>
</li>