.topbar { height: 40px; position: fixed; top: 0; left: 0; right: 0; z-index: 10000; overflow: visible; }
.container { width: 940px; margin-left: auto; margin-right: auto; zoom: 1; }
.topbar h3 a, .topbar .brand {
float: left;
display: block;
padding: 0px 20px 12px;
margin-left: -20px;
color: white;
font-weight: 200;
line-height: 1;
text-decoration: none;
font: normal 18px arial, sans-serif;
}
body { background-color:#85D6FF; }
#homepage{
  border-color: #D5D5D5;
  border-style: solid;
  border-width: 1px;
  border-top:none;
  border-radius:3px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding:20px 15px;
  width:932px;
  margin:0 auto;
  background-color: white;
  margin-top:38px;
  background: url('https://twimg0-a.akamaihd.net/a/1343405872/t1/img/wash-white-30.png');
  font-family: Arial,sans-serif;
  color:#333;     
}