/* Community */
.newsfeed h4{ margin:9px 10px 10px 10px; font:300 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height:10%; letter-spacing:0.15em; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0); }
.newsfeed p{ margin:9px 12px; font:300 11px 'Lucida Grande', Tahoma, Verdana, sans-serif; color:#aaa;}
.newsfeed a { text-decoration:none; }
.post { padding:12px; }
.post:hover { background-color:#F9F9F9; border-radius: 4px; }
.post:hover .postspace{ background-color:#F9F9F9; border-radius: 4px; }
.postheader h3 { display:inline-block; }
.votingandpointsarea { display:inline-block; float:right; margin-top:4px; }
.votingandpointsarea a { padding: 2px 7px 0 7px; }
.votingandpointsarea div { display: inline-block; }
.btn div { margin: 0 1px 0 8px; position:relative; bottom:3px; }
.points { font-style:italic; font-weight:bold; font-size:15px; position:relative; bottom:3px; margin-left:4px; }
.postphotospace { display:inline-block; vertical-align: top; margin-right:12px; }
.postspace{
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
  background-color:white;
  border: 1px solid #ccc;
  margin:0 auto 0 auto;
  position:relative;
  font:normal 13px arial, sans-serif;
  padding: 0 12px;
  width: 580px;
}
.photo{ border-radius:4px; width: 50px; height: 50px; }
.username{ text-decoration: none; color:#005C1F; font-size:17px; }
.posttext { margin: -2px -12px 0 -12px; padding: 3px 12px; background-color:#E5F5EA; }
.leveltext { font-weight: bold; }
.challengetext { font-weight: bold; text-decoration:none; color:black; display:inline; }
.enrolledminiimages { height:13px; width:13px; }
#miniposttext{ font:normal 10px arial, sans-serif; }
.newsfeed { border: 1px solid rgba(0, 0, 0, .1); border-radius: 6px; background-clip:padding-box; background-color:white; }
.CRimage { max-width:548px; max-height:300px; border-color:#ccc; border-style:solid; border-width: 0px; display:block; margin-left:auto; margin-right:auto; }
.crarea { background-color: transparent; background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),transparent); border-top: 1px solid rgba(0, 0, 0, .2); border-bottom: 1px solid rgba(0, 0, 0, .1); margin:12px -12px -7px -12px; }
.obfuscation{ height:250px; background-color:whitesmoke; background-image:none; text-align: center; }
.obfuscation img{ margin-top:38px; }
.obfuscation a{ color:gray; }
.postfooter{ color:#999; font-size:11px; text-align: right; margin-bottom:-6px; }
.postfooter{ text-align: right; margin-right:-13px; }
.leftstuff { float:left; }
.leftstuff a { cursor:hover; text-decoration:none; color: #004700; }