:css
  legend { display:none; }
  .launchpad .editor_view .tips { top:0; }
  
%div#headlines
  .header
    = image_tag STONEY_SMALL_URL, alt: "Stoney"
    %div
      %h1 New power unlocked!              
      %h2 You can now create questions...

  .body
    = render "tasks/new_multiple_choice", section: @current_section, display: true
  
  .exit{ style: "margin-top: -15px;" }
    %a{ onclick: "$('#headlines').fadeOut(300, function(){ $('.launchpadcontent').show(); });" } Continue to Launchpad »