.headlines.hide
  .header
    = image_tag STONEY_SMALL_URL, alt: "Stoney"
    %h1 New power unlocked!              
    %h2 You can now create questions...

  .body
    = render "tasks/new_multiple_choice", section: @current_section, display: true
  
  .exit{ style: "margin-top: -15px;" }
    %a{ onclick: "$(this).parents('.headlines').fadeOut(300, function(){ $(this).remove(); if($('.headlines').size() > 0){ $('.headlines:first').show() } else { $('.launchpadcontent').show(); } });" } Continue to Launchpad »