<script>
  $(function(){
    $('#startmodal').modal({
         keyboard: true,
         backdrop: 'static',
         show: true
     });
  });
</script>
<!-- sample modal content -->
<div id="startmodal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Get Started!</h3>
  </div>
  <div class="modal-body">
    <p>You're now successfully enrolled in the <strong><%= @path.name %></strong> Path. Would you like to get started right now?</p>
  </div>
  <div class="modal-footer">
    <a href="#" onclick="$('#startmodal').modal('hide');" class="btn secondary">Later</a>
    <%= link_to "Get Started", continue_path_path(@path), :class => "btn primary" %>
  </div>
</div>