%div#launchpad.modal.hide.fade{ style: "left: 38%; top: 30%;"}
  %div.overlay
    %div.launchpad{ style: ""}
      %h1
        = image_tag(@path.path_pic)
        %span= @path.name
        %span.btn{ style: "float:right; margin: 10px 0 0 0;", onclick: "$(this).parents('.modal').modal('hide');" } Close
      %div.launchpadcontent
        %div.launchpadsectioncolumn
          %div.launchpadcolumnheader
            Sections
          %ul.sectionlist
            - @path.sections.each do |s|
              %li.launchpad_link= link_to s.name, launchpad_section_path(s), remote: true, style: "text-decoration: none;"+(s.unlocked?(current_user) ? "font-weight: bold" : "")
        = render "sections/launchpad"

:javascript
  $(function(){
    $(".userctrlpanel").click(function(){
      $('#launchpad').modal({
        keyboard: true,
        backdrop: 'static',
        show: true
      });
    });
     
    $(".launchpad_link").on("ajax:success", function(xhr, data, etc){
      $(".sectioninfocontainer").replaceWith(data);
    });
  });                      
