- if current_user
  :css
    .explorecontainer { width: 750px; margin-top: 0px; background:none; }
    .explorenewusercontent{ margin:38px; box-shadow: 0 0 30px 12px #888;}
  :javascript
    $(function(){
      $.get("#{explore_path}", function(data){
        console.log("Success");
        $("#explore_modal").html(data);
      });
    })
    
  %div#explore_modal.dropdown_modal.modal.hide.fade
      
