:css
  explorenewusercontent: { height: 450px; }
:javascript
  function show_persona_challenges(){
    $(".show_persona_select").on("ajax:success", function(xhr, data){
      $(".explorenewusercontent").fadeOut('fast', function(){
        $(this).replaceWith(data, function(){
          $(this).fadeIn();
        });
      });
    });
  }
%div#explore_modal.modal.hide.fade
  - @personas ||= current_company.personas
  = render "personas/explore"
