- if current_user
  %div#explore_modal.dropdown_modal.modal.hide.fade
    :css
      .explorecontainer { width: 750px; margin-top: 0px; }
      .explorenewusercontent{ margin:38px; }
    - @personas ||= current_company.personas
    = render "personas/explore"
