%div.footer
  %span.copyright © 2013 MetaBright, Inc. /
  %span.footerlinks
    %a{href: "http://metabright.blogspot.com/", target: "_blank"} Blog
    \/
    =link_to "Feedback", ideas_path 
    \/
    = link_to "Terms of Service", tos_path
    \/
    = link_to "Internship", internship_path
%div.feedback_tab
  =link_to "Feedback", ideas_path