%div.footer
  %span.copyright © 2012 MetaBright, Inc. /
  %span.footerlinks
    = link_to "About", about_path 
    \/
    %a Blog
    \/
    %a Feedback
    \/
    = link_to "Terms of Service", tos_path 
    
:javascript
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/aTeRMdhE31jBBuwuMs4g.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })(); 