- if show_nav_bar and Rails.env == "production"
  %script{ src: "http://connect.facebook.net/en_US/all.js" }
  :javascript
    $(function(){
      $(".invite_facebook_friends").click(function(){
        FB.init({appId  : "#{ENV['FACEBOOK_KEY']}", frictionlessRequests: true});
        FB.ui({method: 'apprequests', message: 'Invite others to MetaBright'}); 
      });
    })
  #fb-root
  
:javascript
  var mark_read_url = '#{mark_read_url}';
  var disabled_button = false;
  
  $("a[href='#'], a[href='']").removeAttr("href");
  
  $(function(){
    $(".alert").fadeOut(10000);
    $('#page_loading').hide();
  })
  
  $("body").on("ajax:complete", ".hovercard_link", function(jqXHR, data){
    $("#hover_card").remove();
    $("body").append(data.responseText);
    $("#hover_card").modal({ keyboard: true, show: true, backdrop: true});
  });

  $('.explore_link').click(function(){
    $("#explore_modal").modal({ keyboard: true, show: true, backdrop: true});
  });

  $('.bar2').mosaic({ animation: 'slide' });

  $('.notifications_link').on("ajax:success", function(xhr, data){
    $("#notifications_modal").html(data).modal({ keyboard: true, show: true, backdrop: true});
    $(".navitem").removeClass("highlighted");
  });

  $('.hoverscroll').hoverscroll();

  $("#image_url_input").change(function(){
    var link = $(this).val();
    $(".image_url_preview").attr("src", link);
    $("#image_url_preview").attr("src", link);
  });
  
  $(".register_link").click(function(){
    $("#register_modal").modal({ keyboard: true, backdrop: 'static', show: true });
  });

  $(".login_link").click(function(){
    $("#login_modal").modal({ keyboard: true, backdrop: 'static', show: true });
  });
  
  $(".arena_report_link").click(function(){
    $("#report_issue_modal").modal({ keyboard: true, backdrop: 'static', show: true });
  });

  $(".modal_close").click(function(){ $(this).parents('.modal').modal('hide'); });

  $(".fadein").fadeIn(1000);

  $('#user_country').change(function(event){
    $('select#user_state').attr('disabled', true);
    var country_code = $(this).val();
    var url = "/sections/subregion_options?parent_region="+country_code;
    $('select#user_state').load(url).removeAttr("disabled");
  });
  
  $("a[href*='/'], .loadable").click(function(){
    disabled_button = this;
    if($(this).hasClass("button")){
      $(this).addClass("disabled").attr("disabled", "disabled");
    }
    return true;
  });
  
  function startSpinner(){
    $('#page_loading').show();
  }
  
  function stopSpinner(){
    $('.disabled').removeClass("disabled").removeAttr("disabled");
    $('#page_loading').hide();
  }
  
  $(function(){
    document.addEventListener("page:fetch", startSpinner);
    document.addEventListener("page:change", stopSpinner);
    document.addEventListener("page:restore", stopSpinner);
  });
  
  $("form:not(.unspinnable)").submit(function(){
    $(this).find("input[type=submit]").addClass("disabled").attr("disabled", "disabled");
    $('#page_loading').fadeIn(1000);
    setTimeout("$('#page_loading').hide();", 5000);
    $(this).on("ajax:success", function(){
      $("#page_loading").hide();
      $(this).find("input[type=submit]").removeClass("disabled").removeAttr("disabled");
    });
    return true;
  });

- if not current_user
  / Heatmatic Heat map tool /
  - if false #Rails.env == "development"
    :javascript
      heatmatic_token = '1131478311215069';
      s = document.createElement("script"); s.setAttribute("type", "text/javascript")
      s.setAttribute("src", "http://localhost:3000/assets/heatmatic.js");
      document.body.appendChild(s);
  - elsif Rails.env == "production"
    :javascript
      heatmatic_token = '1276372374249857';
      s = document.createElement("script"); s.setAttribute("type", "text/javascript")
      s.setAttribute("src", "https://s3-us-west-1.amazonaws.com/heatmatic/heatmatic.js");
      document.body.appendChild(s);
    
= render "layouts/custom_styles"